<ng-container>
  <div class="flex row-start">
    <div class="system-icon"><img alt="chatbot-icon" src="/assets/icons/chatbot-default.png"></div>
    <div class="system-msg padding-xs">
      Hi {{currentUser.firstName || ''}}, I'm KarmaSahayogi - Digital Assistant, I'm here to help you.
    </div>
  </div>
  <div class="flex">
    <div class="question-hint padding-top-xs">
      Here are the most frequently asked questions users have looked for
    </div>
  </div>
  <div class="recommended-question my-5px">
    <div class="my-5px"*ngFor="let question of recomandedQuestions.slice(0, showLevel1ItemCount)" >
      <div class="btn-default" [ngClass]="{'btn-active': question.quesId === clickedL1ButtonIndex }" (click)="onButtonClick(question.quesId, question)">{{question.quesValue}}</div>
    </div>
    <div class="my-5px mr-5px" *ngIf="showLevel1ItemCount === 3">
      <div class="btn-show-more flex" (click)="showLevel1ItemCount = level1Questions.length">
        <mat-icon class="showmore-icon padding-right-s">add</mat-icon>show more
      </div>
    </div>
    <div class="my-5px mr-5px" *ngIf="showLevel1ItemCount !== 3">
      <div class="btn-show-less flex" (click)="showLevel1ItemCount = 3">
        <mat-icon class="showmore-icon padding-right-s">remove</mat-icon>show more
      </div>
    </div>
  </div>
  <div class="flex row-end padding-top-l padding-bottom-m">
    <div class="user-seleted-question padding-xs">
      What is Mission Karmayogi?
    </div>
    <div class="user-icon">
      <img alt="chatbot-icon" src="/assets/icons/chatbot-default-user.png">
    </div>
  </div>
  <div class="flex row-start">
    <div class="system-icon"><img alt="chatbot-icon" src="/assets/icons/chatbot-default.png"></div>
    <div class="system-msg padding-xs">
      Mission Karmayogi - is a National Programme for Civil Services Capacity Building has been envisioned by the Government of India to address the changing needs and aspiration of the citizen. The Programme has been designed to enhance the civil services under a national Programme, anchored by an apex body headed by the Prime Minister.​
    </div>
  </div>
</ng-container>

<!-- <ng-container>
  <div class="flex flex-wrap">
    <div class="default-info">
      <div class="default-icon">
        <img alt="chatbot-icon" src="/assets/icons/chatbot-default.png">
      </div>
      <div class="default-msg padding-xs">
        Hi, I'm KarmaSahayogi - Digital Assistant, I'm here to help you.
      </div>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="hints padding-xs">
      Here are the most frequently asked issues users have looked for
    </div>
  </div>
</ng-container> -->
