<ng-container>
  <div class="flex flex-wrap">
    <div class="default-info">
      <div class="default-icon">
        <img alt="chatbot-icon" src="/assets/icons/chatbot-default.png">
      </div>
      <div class="default-msg padding-xs">
        Hi, I'm KarmaSahayogi - Digital Assistant, I'm here to help you.
      </div>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="hints padding-xs">
      Here are the most frequently asked issues users have looked for
    </div>
  </div>
</ng-container>
