.default-info {
  .default-icon {
    width: 60px;
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
  .default-msg{
    background-color: rgba(0,0,0, 0.04);
    border: 1px solid rgba(0,0,0, 0.16);
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}



.row-start {
  justify-content: flex-start;
  .system-icon {
    padding-right: 8px;
  }
  .system-msg {
    background-color: rgba(0,0,0, 0.04);
    border: 1px solid rgba(0,0,0, 0.16);
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 62%;
  }
}

.question-hint {
  margin-left: 17%;
  font-weight: bold;
}
.recommended-question {
  margin-left: 17%;
  display: flex;
  flex-wrap: wrap;
  .my-5px {
    margin-top: 5px;
    margin-bottom: 5px
  }
  .mr-5px {
    margin-right: 5px
  }
  .btn-default {
    background: #fff;
    border: 1px solid rgba(0,0,0, 0.16);
    color: black;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-show-more, .btn-show-less {
    background: #1B4CA1;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
  }
  .showmore-icon {
    align-items: flex-start;
  }
  .btn-active{
    background: #1B4CA1;
    border: 1px solid rgba(0,0,0, 0.16);
    color: white;
  }
}

.row-end {
  justify-content: flex-end;
  .user-icon {
    padding-left: 8px;
  }
  .user-seleted-question {
    background-color: #1B4CA1;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    float: right;
    text-align: left;
    max-width: 62%;
  }
}


