@import 'ws-mixins';
@import 'ws-vars';

%container-padding {
  padding: $size-xl 2 * $size-xl;

  @include breakpoint-xs {
    padding: $size-m $size-l;
  }
}
.text-white{
  color: #fff !important;
}
.fixed-width {
  max-width: $max-width;
  display: block;
  margin: 0 auto;
  padding: 0 !important;

  @include breakpoint-s {
    padding: 0 8px !important;
  }

  @include breakpoint-xs {
    padding: 0 8px !important;
  }
  @include breakpoint-m {
    padding: 0 8px !important;
  }
}

.fluid-width {
  width: 100%;
}

.toc-container {
  background: #fff;
  width: 100%;
}

mat-divider {
  border-top-color: #D9D9D9;
}

.sticky {
  // position: fixed;
  top: 56px;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.toc-body {
  // @extend %container-padding;
  // padding-top: 1rem;
  padding-bottom: 1rem;

  .toc-links {
    // position: sticky;
    // top: 0px;
    width: 100%;
    z-index: 1;
    border: none;
    background: transparent;

    // ::ng-deep.mat-tab-links {
    //   margin: 24px 0 0 0;
    // }

    .mat-tab-link {
      // font: 18px/34px;
      // color: #5F5F5F;
      text-align: left;
      // padding-left: 2px;
      justify-content: flex-start;
      // margin-right: 5px;
      // opacity: 1;

      &.justify-center {
        justify-content: center;
      }

      &.link-active {
        color: #0074b6 !important;
        // border-bottom: none !important;
        // font-weight: normal !important;
      }
    }
  }
}

.tab:focus {
  outline: 1px solid !important;
}

.rounded-icon {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  border: 2px solid #00A9F4;
  border-radius: 50%;
  min-width: 0;
  opacity: 1;
  height: 35px;
  width: 35px;
  padding: 0;
  align-items: center;
  align-self: center;
  float: right;

  mat-icon {
    color: #00A9F4;
  }
}

// .mat-dialog-container {
//   padding: 0px !important;
// }
.certificate_box {
  height: 65px;
  border-radius: 4px 4px;
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  display: block;
}

img.certificate_banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.certificate_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, .69));
  top: 0;
  left: 0;
  z-index: 1;
}

p.certificate_text {
  font-weight: 700!important;
  z-index: 99;
  margin-top: -36px;
  color: #fff;
  position: relative;
}

.blue-border{
  border: 2px  solid #0074b6 !important;
  }

.hidden-xs-inline {
  display: inline;

  @include breakpoint-xs {
    display: none;
  }
}

.visible-xs-inline {
  display: none;

  @include breakpoint-xs {
    display: inline;
  }
}

.meta-section {
  flex: 1;
  min-width: 1px;

  .unit-meta-item {
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: $size-m;
    box-shadow: none;
    padding-left: 0;
  }

  @include breakpoint-xs {
    width: 100%;
  }
}
.font-bold-imp {
  font-weight: 700 !important;
}
.info-section {
  width: 20%;
  min-width: 250px;

  .custom-button{
    background: #0074B6 0% 0% no-repeat padding-box !important;
    border-radius: 4px;
  }

  @include breakpoint-xs {
    width: 100%;
    margin-left: 0!important;
  }

  .glance-container {
    .at-glance-heading {
      letter-spacing: 0px;
      color: #222222;
    }

    .info-item {
      // display: flex;
      // align-items: center;
      // padding: $size-xs 0;
      // box-sizing: border-box;

      .cs-icons {
        .mat-icon {
          color: #666666;
          vertical-align: middle;
          font-size: 20px;
        }
        img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
      }

      .item-heading {
        font: 600 14px/21px Lato;
        margin: 0 0 4px;
        letter-spacing: 0px;
        color: #00A9F4 !important;
      }

      .item-value {
        letter-spacing: 0px;
        color: #5F5F5F;
      }

      .item-icon {
        $icon-size: 20px;
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        margin-left: $size-xs;
      }
    }
  }
}

.toc-discussion-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  .discussion {
    flex: 1;
    min-width: 1px;
  }

  .cohorts {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    box-shadow: none;

    // margin-left: 48px;
    @include breakpoint-s {
      margin-left: $size-l;
      min-width: 250px;
    }

    @include breakpoint-xs {
      margin-left: 0;
      margin-bottom: $size-l;
      width: 100%;
    }
  }
}

.mtb-xl {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.detailBar {
  display: flex;
}

.editDetails {
  margin: auto;
  display: flex
}

.white-bg {
  background: #fff !important;
  background-color: #fff !important;
}

.contacts-container {
  background: #F5F6FA 0% 0% no-repeat padding-box;
  // border: 1px solid #ECECEC;
  padding: 22px 0 10px;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-bottom: 1px;
  border-color: #ECECEC;

  .contacts-head {
    letter-spacing: 0px;
    color: #222222;
    background: transparent;
    margin-bottom: 24px;
  }

  // .contacts-body{
  //   justify-content: space-between;
  // }
  .author-card {
    min-width: 291px;
    width: 291px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 10px;

    // justify-content: center;
    .right {
      padding: 0 15px;
    }

    .user-name {
      letter-spacing: 0px;
      color: #5F5F5F;
    }

    .user-university {
      letter-spacing: 0px;
      color: #00A9F4;
    }

    .user-button {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #F58634;
      border-radius: 15px;
      letter-spacing: 0px;
      color: #F58634;
      max-width: 60px;
      padding: 4px;
    }
  }
}

.divider-transparent {
  border-top-color: transparent !important
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;

  .icon {
    font-size: 24px !important;
  }
}

.show-scroll {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.sticky-breadcrumbs {
  position: sticky;
  z-index: 999;
  top: 72px;
  width: 100%;

}

.sticky-banner {
  position: sticky;
  z-index: 999;
}

.sticky-navs {
  position: sticky !important;
  background: #fff;
  z-index: 999;
  top: auto;
}

.actbutton{
  border: 1px solid rgba(0,0,0,0.16);
  border-radius: 4px;
  padding: 0 15px;

  .mat-icon{
    margin-right: 6px;
  }
}
