

<ws-widget-btn-page-back-nav [widgetData]="{url: '/static-home',titles: []}"></ws-widget-btn-page-back-nav>
<ws-app-app-toc-home-root [content]="content" [initialrouteData]="initialrouteData"
[forPreview]="true" [resumeData]="resumeData" [batchData]="batchData"></ws-app-app-toc-home-root>
<!-- //NOSONAR --> <!-- <ng-container>
    <div class="fixed-width flex flex-wrap">
        <div class="meta-section">
            <ws-app-toc-banner role="banner" [banners]="banners" [forPreview]="forPreview" [content]="content"
                [analytics]="null" [resumeData]="resumeData" [batchData]="batchData">
            </ws-app-toc-banner>
            <div role="none" class="toc-body margin-top-xl">
                <ws-app-app-toc-single-page [content]="content" [initialrouteData]="initialrouteData"
                    [forPreview]="true" [resumeData]="resumeData" [batchData]="batchData">
                </ws-app-app-toc-single-page>
            </div>
        </div>
        <div class="info-section right margin-top-xl padding-m white-bg margin-left-xl margin-bottom-xl">
            <div class="header-actions margin-top-s margin-bottom-m">
                <ng-container *ngIf="
          content?.status !== 'Deleted' &&
          content?.status !== 'Expired'
        ">
                    <div [hidden]="isResource && !content?.artifactUrl?.length" class="text-center">
                        <a [routerLink]="firstResourceLink?.url" [queryParams]="generateQuery('START')"
                            class="mat-button mat-button-base resumeButton custom-button width-1-1 text-white">

                            <ng-container *ngIf="!forPreview || isInIFrame; else authView" >
                                {{"Start"}}
                            </ng-container>

                        </a>
                        <ng-container *ngIf="actionBtnStatus == 'reject' && content?.registrationUrl">
                            <a [href]="content?.registrationUrl" target="_blank"
                                class="mat-button mat-button-base custom-button" >Register</a>
                        </ng-container>
                        <ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <h3 *ngIf="content?.status === 'Deleted' || content?.status === 'Expired'"
                    class="margin-remove-bottom pt-4 info-msg" >
                    The content is expired or deleted.
                </h3>
                <h3 class="margin-remove-bottom pt-4 info-msg" *ngIf="content?.status === 'Unpublished'">
                    The content has been unpublished.
                </h3>
                <h3 class="margin-remove-bottom pt-4 info-msg" *ngIf="content?.status === 'Draft'">
                    The content is in draft.
                </h3>
                <h3 class="margin-remove-bottom pt-4 info-msg" *ngIf="content?.status === 'InReview'">
                    The content is in review.
                </h3>
            </div>

            <p class="mt-5 mb-5 info-msg" *ngIf="content?.isInIntranet && showIntranetMsg">
            <p class="mt-5 mb-5 info-msg" *ngIf="content?.isInIntranet && showIntranetMsg">
                <mat-icon class="align-bottom">info</mat-icon>&nbsp;
                <ng-container >This can be viewed only in the Intranet.</ng-container>
            </p>
            <p class="mt-5 mb-5 info-msg" *ngIf="showInstructorLedMsg">
                <mat-icon class="align-bottom">info</mat-icon>&nbsp;
                <ng-container >This is instructor-led classroom course and is not available online.
                </ng-container>
            </p>

            <p class="mt-5 mb-5 info-msg" *ngIf="showStart.msg === 'youtubeForbidden'">
                <mat-icon class="align-bottom">info</mat-icon>&nbsp;
                <ng-container >Access to this YouTube content is blocked.</ng-container>
            </p>
            <div class="margin-top-l glance-container">
                <div class="margin-bottom-m">
                    <p class="mat-subheading-1 at-glance-heading" >At a glance</p>
                    <div class="info-item">
                        <p *ngIf="tocConfig?.atAGlance?.duration?.enabled && content?.duration"
                            class="mat-body-2 cs-icons">
                            <mat-icon class="margin-right-xxs">timer</mat-icon> {{ content?.duration |
                            pipeDurationTransform: 'hms' }}
                        </p>
                    </div>
                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.structure?.enabled && hasTocStructure && content?.children?.length">
                        <p *ngIf="tocStructure?.course > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/course.svg" alt="Course" class="margin-right-xs">
                            {{
                            tocStructure?.course }}
                            <span *ngIf="tocStructure?.course === 1" > Course</span>
                            <span *ngIf="tocStructure?.course > 1" > Courses</span>
                        </p>
                        <p *ngIf="tocStructure?.learningModule > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/module.svg" alt="Module" class="margin-right-xs">
                            {{
                            tocStructure?.learningModule }}
                            <span *ngIf="tocStructure?.learningModule === 1" > Module</span>
                            <span *ngIf="tocStructure?.learningModule > 1" > Modules</span>
                        </p>
                        <p *ngIf="tocStructure?.video > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/video.svg" alt="Video" class="margin-right-xs"> {{
                            tocStructure?.video }}
                            <span *ngIf="tocStructure?.video === 1" > Video</span>
                            <span *ngIf="tocStructure?.video > 1" > Videos</span>
                        </p>
                        <p *ngIf="tocStructure?.pdf > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/pdf.svg" alt="PDF" class="margin-right-xs"> {{
                            tocStructure?.pdf }}
                            <span *ngIf="tocStructure?.pdf === 1" > PDF</span>
                            <span *ngIf="tocStructure?.pdf > 1" > PDFs</span>
                        </p>
                        <p *ngIf="tocStructure?.podcast > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/audio.svg" alt="Podcast" class="margin-right-xs">
                            {{
                            tocStructure?.podcast }}
                            <span *ngIf="tocStructure?.podcast === 1" > Audio</span>
                            <span *ngIf="tocStructure?.podcast > 1" > Audios</span>
                        </p>
                        <p *ngIf="tocStructure?.webPage > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/content_copy.svg" alt="Web Page"
                                class="margin-right-xs"> {{
                            tocStructure?.webPage }}
                            <span *ngIf="tocStructure?.webPage === 1" > Web Page</span>
                            <span *ngIf="tocStructure?.webPage > 1" > Web Pages</span>
                        </p>
                        <p *ngIf="tocStructure?.interactivecontent > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/link.svg" alt="Interactive Content"
                                class="margin-right-xs"> {{
                            tocStructure?.interactivecontent }}
                            <span *ngIf="tocStructure?.interactivecontent === 1" > Interactive Content</span>
                            <span *ngIf="tocStructure?.interactivecontent > 1" > Interactive Contents</span>
                        </p>
                        <p *ngIf="tocStructure?.assessment > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/assessment.svg" alt="Assessment"
                                class="margin-right-xs"> {{
                            tocStructure?.assessment }}
                            <span *ngIf="tocStructure?.assessment === 1" > Assessment</span>
                            <span *ngIf="tocStructure?.assessment > 1" > Assessments</span>
                        </p>
                        <p *ngIf="tocStructure?.practiceTest > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/assessment.svg" alt="Assessment"
                                class="margin-right-xs"> {{
                            tocStructure?.practiceTest }}
                            <span *ngIf="tocStructure?.practiceTest === 1" > Practice test</span>
                            <span *ngIf="tocStructure?.practiceTest > 1" > Practice Tests</span>
                        </p>
                        <p *ngIf="tocStructure?.other > 0" class="mat-body-2 cs-icons">
                            <img src="/assets/icons/content/grey/course.svg" alt="Course" class="margin-right-xs">
                            {{
                            tocStructure?.other }}
                            <span *ngIf="tocStructure?.other === 1" > Other Item</span>
                            <span *ngIf="tocStructure?.other > 1" > Other Items</span>
                        </p>
                    </div>
                    <mat-divider class="margin-bottom-m"></mat-divider>
                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.displayContentType?.enabled && content?.displayContentType">
                        <h3 class="item-heading ws-mat-default-text">
                            {{tocConfig?.atAGlance?.displayContentType?.displayName}}
                        </h3>
                        <ws-widget-display-content-type *ngIf="content?.contentType !== contentTypes.RESOURCE"
                            class="ws-mat-accent-text width-expand mat-body-strong"
                            [displayContentType]="content?.displayContentType">
                        </ws-widget-display-content-type>
                        <div *ngIf="content?.contentType === contentTypes.RESOURCE"
                            class="item-value width-expand mat-body-strong">
                            {{ content?.resourceType }}
                        </div>
                    </div>
                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.complexityLevel?.enabled && content?.complexityLevel">
                        <h3 class="item-heading ws-mat-default-text">
                            {{tocConfig?.atAGlance?.complexityLevel?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            {{ content?.complexityLevel }}
                        </h3>
                    </div>
                    <div class="info-item" *ngIf="tocConfig?.atAGlance?.source?.enabled">
                        <h3 class="item-heading ws-mat-default-text">{{tocConfig?.atAGlance?.source?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            {{content?.source}}
                        </h3>
                    </div>
                    <div class="info-item" *ngIf="tocConfig?.atAGlance?.license?.enabled">
                        <h3 class="item-heading ws-mat-default-text">{{tocConfig?.atAGlance?.license?.displayName}}
                        </h3>
                        <h3 *ngIf="content?.license" class="item-value width-expand">
                            {{content?.license}}
                        </h3>
                    </div>
                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.sourceShortName?.enabled && content?.sourceShortName">
                        <h3 class="item-heading ws-mat-default-text">
                            {{tocConfig?.atAGlance?.sourceShortName?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            {{ content?.sourceShortName }}
                        </h3>
                    </div>
                    <div class="info-item" *ngIf="tocConfig?.atAGlance?.cost?.enabled">
                        <h3 class="item-heading ws-mat-default-text">{{tocConfig?.atAGlance?.cost?.displayName}}
                        </h3>
                        <h3 *ngIf="content?.exclusiveContent" class="item-value width-expand">Paid Content</h3>
                        <h3 *ngIf="!content?.exclusiveContent" class="item-value width-expand">Free</h3>
                    </div>
                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.expiryDate?.enabled && content?.expiryDate && content?.expiryDate?.startsWith('20')">
                        <h3 class="item-heading ws-mat-default-text">
                            {{tocConfig?.atAGlance?.expiryDate?.displayName}}</h3>
                        <h3 class="item-value width-expand">
                            {{ content?.expiryDate | date }}
                        </h3>
                    </div>
                    <div class="info-item" *ngIf="tocConfig?.atAGlance?.learningMode?.enabled && content?.learningMode">
                        <h3 class="item-heading ws-mat-default-text">
                            {{tocConfig?.atAGlance?.learningMode?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            {{ content?.learningMode }}
                        </h3>
                    </div>
                    <div class="info-item" *ngIf="tocConfig?.atAGlance?.region?.enabled && content?.region?.length">
                        <h3 class="item-heading ws-mat-default-text">{{tocConfig?.atAGlance?.region?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            {{ content?.region }}
                        </h3>
                    </div>
                    <div class="info-item" *ngIf="tocConfig?.atAGlance?.locale?.enabled && content?.locale">
                        <h3 class="item-heading ws-mat-default-text">{{tocConfig?.atAGlance?.locale?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            {{ content?.locale | uppercase }}
                        </h3>
                    </div>
                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.hasTranslations?.enabled && (content?.hasTranslations?.length || content?.isTranslationOf?.length)">
                        <h3 class="item-heading ws-mat-default-text">
                            {{tocConfig?.atAGlance?.hasTranslations?.displayName}}
                        </h3>
                        <h3 class="item-value width-expand">
                            <span class="cursor-pointer" (click)="goToContent(trans?.identifier)"
                                *ngFor="let trans of content?.hasTranslations || content?.isTranslationOf">{{
                                trans.locale | uppercase
                                }}
                            </span>
                        </h3>
                    </div>
                    <ng-container *ngFor="let item of content?.collections">
                        <div class="info-item"
                            *ngIf="tocConfig?.atAGlance?.curatedInKB?.enabled && item.contentType === 'Knowledge Board' && item.status === 'Live'">
                            <h3 class="item-heading ws-mat-default-text">
                                {{tocConfig?.atAGlance?.curatedInKB?.displayName}}
                            </h3>
                            <mat-chip-list>
                                <mat-chip>
                                    <h3 class="item-value width-expand">
                                        <ng-container
                                            *ngIf="item.contentType === 'Knowledge Board' && item.status === 'Live'">
                                            <a
                                                [href]="'/public/toc/' + item.identifier + '/overview?primaryCategory='+ item.primaryCategory">
                                                {{
                                                item.name }}
                                            </a>
                                        </ng-container>
                                    </h3>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </ng-container>
                    <mat-divider class="divider-transparent"></mat-divider>

                    <div class="info-item"
                        *ngIf="tocConfig?.atAGlance?.lastUpdatedOn?.enabled && content?.lastUpdatedOn">
                        <p class="mat-body-2 font-bold-imp ws-mat-black60-text">
                            {{tocConfig?.atAGlance?.lastUpdatedOn?.displayName}} on {{ content?.lastUpdatedOn | date
                            }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #tocError>
    Error
</ng-template>
<ng-template #authView >View</ng-template>
<button mat-fab color="accent" [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top">
    <mat-icon color="primary">keyboard_arrow_up</mat-icon>
</button> -->