.main-container {
    max-width: 1200px;
}
.font-semibold {
    font-weight: 600!important;
}
.network-inner {
    overflow: hidden;
}

.fix-ww {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    clear: both;
}

.left {
    width: 34%;
}

.right {
    width: 66%;
}

.full {
    width: 100%;
}
@media only screen and (max-width: 768px) {
    .main-container {
        margin-top: 0;
        flex-direction: column;
    }

    .main-container-without-mobile-header {
      margin-top: 0px;
      flex-direction: column;
    }
    .left {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .right {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
}