.filter-overlay {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.filter-md {
    height: 100%;
    border: 1px solid #ccc;
    right: 0;
    background: #fff;
    z-index: 10000 !important;
    top:0px;
    position: fixed;
}

.filter-header {
    margin:26px 25px;
}

.filter-content {    
    padding: 18px 0px;
    margin: 0px 25px;
}

.filter-content-container {
    height: calc(100vh - 200px);
    overflow-y: auto;
  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  scrollbar-width: none;
}

.filter-content:last-child {
    border:none;
}
.filter-footer {
    position: fixed;
    bottom: 0;
    padding: 24px;
}

.filter-header .label {
    width:299px;
    font-weight: 700;
}

.filter-clear {
    width: 142px;
    text-align: center;
    border: 1px solid #1B4CA1;
    padding: 10px;
    border-radius: 4px;
    color: #1B4CA1;
    cursor: pointer;
}

.filter-apply {
    width: 142px;
    text-align: center;
    background-color: #1B4CA1;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
}

.filter ::ng-deep .mat-expansion-panel {
    box-shadow: none !important;
}

.filter ::ng-deep .mat-expansion-panel-header {
    padding:0 !important;
    height: 24px !important; 
}

.filter ::ng-deep .mat-expansion-panel-header-title {
    font-weight: 700;
    font-size: 14px;
    width: 299px;
}


.filter ::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
    background:none !important;
}

.filter ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}



.spacer {
    height: 1px;
    width: 90%;
    margin-left: 25px;
    background: rgba(0,0,0,0.16);
}

.category-item {
    color: rgba(0,0,0,0.6);
    padding: 12px 0;
}


/** Search **/

.rsearch {
    position: relative;
    margin-top: 10px;
}

.search {
    margin-left: 16px;
    width: 78%;
}

.search-icon {
    position: absolute;
    top: 16px;
    font-size: 20px;
    left: 10px;
}

.sinput {
    border-radius: 63px;
    border: 1px solid #d5d0d0;
    padding: 6px 36px;
    font: 400 14px Lato, sans-serif;
    width: 250px;
    height: 32px;
}

.filter .category-content {
    max-height: 232px;
    overflow-y: auto;

  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::ng-deep .mat-checkbox-label {
    width: 300px;
    white-space: pre-wrap;
}

@media screen  and (max-width:768px){
    
    ::ng-deep .filter-cbp {
        min-height: 80vh;
        padding: 0px;
    }
    .filter-md  {
        width: 100%;
    }
    .filter-block {
            height: calc(100vh - 50px);
            justify-content: space-between;
            .filter-header {
                .heading-block {
                    justify-content: space-between;
                    width: 100%;
                }
            }
            .label {
                width: unset;
            }
    }
    .filter-content-container {
        overflow-y: auto;

  -ms-overflow-style: none;
  -webkit-overflow-style: none;
  scrollbar-width: none;
    }
    .filter-content {  
        padding: 18px 24px;
        margin: unset;
        display: block !important;
    }
    .filter-footer {
        margin: unset;
        position: fixed;
        bottom: 65px;
        padding: 0px 19px;
        width: 93%;
        div {
            width: 100%;
            justify-content: space-between;
        }
        .filter-apply {
            width: 35%;
        }
        .filter-clear {
            width: 35%;
        }
    }
    

}
.grey-filter {
    background-color: #666666;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0, 0.16);
    opacity: 1;
}