<ng-container class="">
    <div class="filter-overlay ">
        <div class="filter filter-md ">
            <ng-container [ngTemplateOutlet]="filter"></ng-container>
        </div>
    </div>
</ng-container>

<ng-template #filter>
    <div class="filter-block">
        <div class="filter-header flex flex-1">
            <div class="flex heading-block flex-2 flex-row">
                <div class="label">{{'widgetCbpFilters.filters' | translate}}</div>
                <!-- //NOSONAR --><div class="cross-filter cursor-pointer" (click)="applyFilter()">
                    <!-- //NOSONAR --><mat-icon aria-hidden="true" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" role="img"> close </mat-icon>
                </div>
            </div>
        </div>
        <div class="filter-content-container">
        <ng-container *ngIf="showAdditionalFilters">
            <div class="filter-content flex flex-1">
                <mat-accordion>
                    <mat-expansion-panel disableRipple [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'widgetCbpFilters.contentType' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-1 flex-row category-item" *ngFor="let ctype of primaryCategoryList">
                            <mat-checkbox #checkboxes disableRipple [checked]= "ctype?.checked" class="example-margin" (change)="getFilterType($event, ctype,'primaryCategory')">
                                <!-- {{ctype?.name}} --> {{ translateLabel(ctype?.name, 'searchfilters') }}
                            </mat-checkbox>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="spacer" ></div>
            <div class="filter-content flex flex-1">
                <mat-accordion>
                    <mat-expansion-panel disableRipple [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'widgetCbpFilters.status' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-1 flex-row category-item" *ngFor="let ctype of contentStatus">
                            <mat-checkbox #checkboxes disableRipple class="example-margin"  [checked]= "ctype?.checked" (change)="getFilterType($event, ctype,'status')">
                                <!-- {{ctype?.name}} --> {{ translateLabel(ctype?.name, 'apptoccontentcard') }}
                            </mat-checkbox>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="spacer" ></div>
            <div class="filter-content flex flex-1">
                <mat-accordion>
                    <mat-expansion-panel disableRipple [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'widgetCbpFilters.timeDuration' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-1 flex-row category-item" >
                            <mat-radio-group aria-label="Select an option">
                                <ng-container *ngFor="let ctype of timeDuration">
                                    <mat-radio-button #checkboxes class="py-2"  (change)="timeDurationFilter(ctype,'timeDuration')" [checked]="ctype.checked" [value]="ctype">{{ translateLabel(ctype?.name, 'searchfilters') }}</mat-radio-button><br>
                                </ng-container>
                            </mat-radio-group>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="spacer" ></div>
        </ng-container>
        <div class="filter-content flex flex-1">
            <mat-accordion>
                <mat-expansion-panel disableRipple [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'widgetCbpFilters.competencyArea' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex flex-1 flex-row category-item" *ngFor="let ctype of competencyTypeList">
                        <mat-checkbox #checkboxes disableRipple [checked]= "ctype?.checked" class="example-margin" (change)="getCompetencyTheme($event, ctype)">
                            <!-- {{ctype?.name}} --> {{ translateLabel(ctype?.name, 'competencyList') }}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
            

            <div class="spacer" *ngIf="competencyThemeList.length"></div>
            <div class="filter-content flex flex-1" *ngIf="competencyThemeList.length">
                <mat-accordion>
                    <mat-expansion-panel disableRipple [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'widgetCbpFilters.competencyTheme' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                            <div class="search-container">
                                <div class="rsearch"><mat-icon
                                    class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                                <input #searchInput id="searchInput" (keyup)="onCompetencyTheme($event)" class="sinput color-60" label=""
                                placeholder="{{'widgetCbpFilters.enterCompetencyTheme' | translate}}" type="Standard">
                                </div>
                            </div>
                            <div class="category-content">
                                <div class="flex flex-1 flex-row category-item" *ngFor="let ctitem of competencyThemeList | filterSearch: searchInput.value">
                                    <mat-checkbox #checkboxes [checked]= "ctitem?.checked" disableRipple class="example-margin"  (change)="getCompetencySubTheme($event, ctitem)">{{ctitem?.name}}</mat-checkbox>
                                </div>
                            </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="spacer" *ngIf="competencySubThemeList.length"></div>
            <div class="filter-content flex flex-1" *ngIf="competencySubThemeList.length">
                <mat-accordion>
                    <mat-expansion-panel disableRipple [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'widgetCbpFilters.enterCompetencySubTheme' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="search-container">
                            <div class="rsearch"><mat-icon
                                class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                            <input #searchThemeInput class="sinput color-60" (keyup)="onCompetencySubTheme($event)" label=""
                            placeholder="{{'widgetCbpFilters.enterCompetencySubTheme' | translate}}" type="Standard">
                            </div>
                        </div>
                        <div class="category-content">
                            <div class="flex flex-1 flex-row category-item" *ngFor="let cstitem of competencySubThemeList | filterSearch: searchThemeInput.value">
                                <mat-checkbox #checkboxes disableRipple class="example-margin" [checked]= "cstitem?.checked"   (change)="manageCompetencySubTheme($event, cstitem)">{{cstitem?.name}}</mat-checkbox>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="spacer"></div>
            <div class="filter-content flex flex-1">
                <mat-accordion>
                    <mat-expansion-panel disableRipple [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{'widgetCbpFilters.provider' | translate}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="category-content">
                            <div class="flex flex-1 flex-row category-item" *ngFor="let item of providersList">
                                <mat-checkbox #checkboxes disableRipple class="example-margin"  [checked]= "item?.checked" (change)="getFilterType($event, item?.name,'providers')">{{item?.name}}</mat-checkbox>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="filter-footer flex flex-1">
            <div class="flex flex-2 flex-row">
                <!-- //NOSONAR --><div class="filter-clear" (click)="clearFilter()">
                    {{'widgetCbpFilters.clear' | translate}}
                </div>
                <!-- //NOSONAR --><div class="filter-apply" [ngClass]="{'grey-filter': filterEmpty}" (click)="applyFilter()">
                    {{'widgetCbpFilters.apply' | translate}}
                </div>
            </div>
        </div>
    </div>
</ng-template>
