<div class="container-balanced">
  <ws-widget-btn-page-back [widgetData]="{ url: 'home', titles: titles  }">
  </ws-widget-btn-page-back>
  <div class="banner">
    <img src="assets/images/banners/learner-advisory.jpeg" alt="learner-advisory">
  </div>
  <div class="tips-container">

    <div class="tips-list">
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/watch-speed.png"
          alt="Watch content at a speed that ensures understanding and retention.">
        <p>{{'learnerAdvisory.watchContent' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/avoid-fast-forwarding.png"
          alt="Avoid fast-forwarding and speeding through.">
        <p>{{'learnerAdvisory.fastForwarding' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/follow-sequence.png" alt="Follow the sequence of content as presented.">
        <p>{{'learnerAdvisory.followSequence' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/one-course-at-a-time.png"
          alt="Take one course at a time instead of consuming multiple courses across multiple devices.">
        <p>{{'learnerAdvisory.oneCourse' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/participate-discussions.png"
          alt="Participate in discussions at the Discussion Forum regularly.">
        <p>{{'learnerAdvisory.participateDiscussions' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/dont-rush-assessments.png"
          alt="Don't rush through assessments without understanding, reflecting.">
        <p>{{'learnerAdvisory.dontRushAssessments' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/use-supplementary-resources.png"
          alt="Use supplementary resources and readings.">
        <p>{{'learnerAdvisory.supplementaryResources' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/minimize-distractions.png"
          alt="Minimize distractions during study sessions.">
        <p>{{'learnerAdvisory.minimizeDistractions' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/seek-clarification.png"
          alt="Seek clarification and assistance when needed.">
        <p>{{'learnerAdvisory.seekClarification' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/allocate-time.png"
          alt="Allocate dedicated time for learning activities.">
        <p>{{'learnerAdvisory.allocateTime' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/use-gyaan-karmayogi.png"
          alt="Use the new section Gyaan Karmayogi regularly, to go over case studies and other learning material.">
        <p>{{'learnerAdvisory.useGyaanKarmayogi' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/update-profile.png" alt="Update your profile regularly if required.">
        <p>{{'learnerAdvisory.updateProfile' | translate}}</p>
      </div>
      <div class="tip-item">
        <img src="assets/icons/learner-advisory/follow-suggestions.png" alt="Follow suggestions at My iGOT.">
        <p>{{'learnerAdvisory.followSuggestions' | translate}}</p>
      </div>
    </div>
  </div>
</div>