<div class="privacypolicy-section">
  <div class="container-balanced">
    <div class="flex flex-1 custom privacy_main_box">
      <div class="flex-3">
        <div class="flex flex-4 flex-column">
          <div class="flex flex-1 custom">
            <div class="discuss-right-panel flex-3">
              <h3 class="flex flex-middle margin-remove" *ngIf="!hideHeader">
                <p class="mat-display-1 main_title_text margin-bottom-xl">
                  {{ 'privacyPolicy.privacyPolicy' | translate }}
                </p>
              </h3>
              <div class="flex flex-column margin-bottom-xl">
                <div class="privacy-policy-content">
                  <p class="mat-body-2 margin-remove">
                    {{ 'privacyPolicy.p1Utilizing' | translate }}
                  </p>
                  <br />
                  <p class="mat-body-2 margin-remove">
                    {{ 'privacyPolicy.p2Voluntary' | translate }}
                  </p>
                  <br />
                  <p class="mat-body-2 margin-remove">
                    {{ 'privacyPolicy.p3Subject' | translate }}
                  </p>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Introduction" 
              >
                <h3 class="flex flex-middle margin-remove">
                 <span class="mat-title"><span class="number">1.</span> <strong>{{
                  'privacyPolicy.introduction' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacyPolicy.p4GovernsTheWay' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Collection"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">2.</span><strong>{{
                    'privacyPolicy.dataCollection' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacyPolicy.p5Personal' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Usage"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">3.</span><strong>{{
                    'privacyPolicy.dataUsage' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacyPolicy.p6Collect' | translate }}
                    </p>
                    <ul>
                      <li>
                        {{ 'privacyPolicy.p7UserExperience' | translate }}
                      </li>
                      <li>{{ 'privacyPolicy.p8ImproveOurApp' | translate }}</li>
                      <li>
                        {{ 'privacyPolicy.p9PeriodicEmails' | translate }}
                      </li>
                      <li>{{ 'privacyPolicy.p10PhoneNumbers' | translate }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Protection"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">4.</span><strong>{{
                    'privacyPolicy.dataProtection' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove"></p>
                    <ul>
                      <li>{{ 'privacyPolicy.p11Adopt' | translate }}</li>
                      <li>{{ 'privacyPolicy.p12Information' | translate }}</li>
                      <li>{{ 'privacyPolicy.p13System' | translate }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Data Retention"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">5.</span><strong>{{
                    'privacyPolicy.dataRetention' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove"></p>
                    <ul>
                      <li>{{ 'privacyPolicy.p14PersonalData' | translate }}</li>
                      <li>
                        {{ 'privacyPolicy.p15NotWithStanding' | translate }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Third-Party Services"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">6.</span><strong>{{
                    'privacyPolicy.thirdPartyServices' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacyPolicy.p16ThirdParty' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Changes to This Privacy Policy"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">7.</span><strong>{{
                    'privacyPolicy.changesToThisPrivacyPolicy' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacyPolicy.p17Karmayogi' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Your Acceptance of These Terms"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">8.</span><strong>{{
                    'privacyPolicy.yourAcceptanceOfTheseTerms' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{ 'privacyPolicy.p18ByUsingThisApp' | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="info-section margin-bottom-xl width-1-1 ng-star-inserted"
                id="Grievances"
              >
                <h3 class="flex flex-middle margin-remove">
                  <span class="mat-title"><span class="number">9.</span><strong>{{
                    'privacyPolicy.grievances' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column margin-bottom-xl">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove"></p>

                    <ul>
                      <li>{{ 'privacyPolicy.p19IfYouHave' | translate }}</li> 
                      <p class="padding-top-m">
                        <strong >{{
                          'privacyPolicy.designation' | translate
                        }}</strong> {{ 'privacyPolicy.grievanceOfficer' | translate }}
                        <br /><strong>{{
                          'privacyPolicy.department' | translate
                        }}</strong> {{ 'privacyPolicy.karmayogiDopt' | translate }}
                        <br /><strong>{{
                          'privacyPolicy.p20Email' | translate
                        }}</strong> {{ 'privacyPolicy.cto' | translate }}
                      </p>
                      <li>{{ 'privacyPolicy.p21TheGrievance' | translate }}</li>
                      <li>
                        {{ 'privacyPolicy.p22IfYouBelieveThat' | translate }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div
                class="info-section width-1-1 ng-star-inserted"
                id="Contacting Us"
              >
                <h3 class="flex flex-middle margin-remove">
                 <span class="mat-title"><span class="number">10.</span><strong>{{
                    'privacyPolicy.contactingUs' | translate
                  }}</strong></span>
                </h3>
                <div class="flex flex-column">
                  <div class="privacy-policy-content">
                    <p class="mat-body-2 margin-remove">
                      {{'privacyPolicy.p23IfYouHaveAnyQuestions' | translate }}<strong>{{'privacyPolicy.p24Mission' | translate }}</strong>
                    </p>
                  </div>
                </div>
              </div>
              <div class="flex justify-end padding-top-m">
                {{'privacyPolicy.pUpdatedDate' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
