<div *ngIf="showVideoTour && !isMobile" class="video-tour">
  <div class="flex tour-video-container">
    <div class="video-header-row">
      <span class="ws-mat-white-text mat-h2">{{'tourvideo.whatIsiGOTKarmayogi' | translate }}</span>
    </div>
    <div class="video-player-row">
      <video id="tourVideoTag" disablePictureInPicture="true" controls controlsList="nodownload" height="100%" width="100%" [autoplay]="true" #tourVideoTag>
        <source src="{{videoUrl}}" type="video/mp4">
      </video>
    </div>
    <div class="video-footer-row">
      <button class="skip-btn ws-mat-white-text" (click)="letsSkip()" mat-button>{{'tourvideo.skip' | translate }}</button>
      <button [ngClass]="{'ripple-btn': videoPlayedProgress}" class="next-btn dialog-btn ws-mat-primary-background-op30 action-orange" (click)="letsStart()" mat-button>{{'tourvideo.next' | translate }}</button>
    </div>
  </div>
</div>

<div *ngIf="showVideoTour && isMobile" class="video-tour-mobile">
  <div class="flex tour-video-container">
    <div class="video-header-row-mobile">
      <video id="tourVideoTag" disablePictureInPicture="true" controls controlsList="nodownload" height="100%" width="100%"  [autoplay]="true" #tourVideoTag>
        <source src="{{videoUrl}}" type="video/mp4">
      </video>
      <div class="pt-2">
        <span class="ws-mat-white-text mat-h3">{{'tourvideo.whatIsiGOTKarmayogi' | translate }}</span>
      </div>
    </div>
    <div class="video-footer-row-mobile">
      <button class="skip-btn ws-mat-white-text" (click)="letsSkip()" mat-button>{{'tour.skip' | translate }}</button>
      <button [ngClass]="{'ripple-btn': videoPlayedProgress}" class="next-btn dialog-btn ws-mat-primary-background-op30 action-orange" (click)="letsStart()" mat-button>{{'tourvideo.next' | translate }}</button>
    </div>
  </div>
