<!-- 
<div class="home-container mt-8">
    <div class="flex flex-1 cursor-pointer" [routerLink]="'/page/learn'">
        <p class="mat-subheading-1 margin-remove inline-block flex gap-2 items-center">
            Go to learn hub 
            <mat-icon class="ws-mat-default-text mr-3 mat-icon notranslate material-icons mat-icon-no-color" [color]="'accent'">navigate_next
                </mat-icon>
        </p>
    </div>
    <ws-widget-content-strip-with-tabs [widgetData]="widgetData"></ws-widget-content-strip-with-tabs>
</div> -->

<!-- <ws-widget-content-strip-with-tabs [widgetData]="widgetData"></ws-widget-content-strip-with-tabs> -->

 <ng-container *ngIf="widgetData?.stripType === 'withOutPils'  && (widgetData?.stripVisable === 'mobile' &&  isMobile)">
    <sb-uic-content-strip-with-tabs 
    (telemtryResponse)="raiseTelemetryInteratEvent($event)"
    [widgetData]="widgetData">
    </sb-uic-content-strip-with-tabs>
 </ng-container>
<ng-container *ngIf="widgetData?.stripType === 'withOutPils' && widgetData?.stripVisable === 'responsive'">
    <sb-uic-content-strip-with-tabs 
    (telemtryResponse)="raiseTelemetryInteratEvent($event)"
    [widgetData]="widgetData">
    </sb-uic-content-strip-with-tabs>
</ng-container>
<ng-container *ngIf="widgetData?.stripType === 'withPils'  && widgetData?.stripVisable === 'responsive'">
    <sb-uic-content-strip-with-tabs-pills [widgetData]="widgetData"></sb-uic-content-strip-with-tabs-pills>
</ng-container>
