@import 'ws-vars';
@import 'ws-mixins';

ws-app-nav-bar {
  z-index: 1000;
}

.route-change {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.height-on-bottom {
  overflow: auto;
  box-sizing: border-box;
}

.height-on-top {
  margin-top: 56px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.top-nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.bottom-nav-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.height-adjust {
  min-height: calc(100vh - (56px + 52px));

  @include breakpoint-xs {
    min-height: calc(100vh - (60px + 77px));
  }
}

.new-width {
  margin-left: auto;
  margin-right: auto;
  flex: 1;
}

.app-footer {
  display: block;
  padding-bottom: 56px;

  @include breakpoint-gt-xs {
    padding: 0;
  }
}


.skipnav a {
  width: 12em;
  display: block;
  color: #fff;
  background: #333;
  text-decoration: none;
  padding: 15px;
  position: absolute;
  left: -1000em;
  top: 0;
  font-weight: bold;
  box-sizing: border-box;
}

.skipnav a:visited {
  color: #fff;
}

.skipnav a:focus,
.skipnav a:active {
  z-index: 9999;
  top: 0rem;
  left: 1rem;
  border: solid #777 2px;
  color: #fff;
  background: #333 !important;
}

.height-48 {
  height: 48px;
}

.mobile-download-app-top-header {
  display: none;
}

@media (max-width : 768px) {
  .height-on-top {
    top: 64px;
  }

  .mobile-download-app-top-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 100%;
    background-color: #fff;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    top:0;
  }

  .mobile-download-app-desc {
    margin-left:8px;
  }


  .kb-symbol {
    background: rgba(239, 149, 30, 0.24);
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid rgba(239, 149, 30, 0.24);
    margin-left: 4px;
  }
  .kb-symbol img{
    vertical-align: middle;
  }

  .cross-mobile-download-app {
    padding: 3px 7px;
    text-align: center;
  }

  .cross-mobile-download-app span {
    color: rgba(0, 0, 0, 0.16)
  }

 
  .mobile-download-app-desc-heading {
    margin: 0 !important;
    padding: 0;
    line-height: 1;
    font-weight: 900;
  }
  .mobile-download-app-desc-sub-heading {
    margin: 0 !important;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }

  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    max-width: 136px;
    text-align: center;
    padding: 6px 10px;
    list-style: none;
    line-height: 18px;
    margin-right: 16px;
    box-sizing: border-box;
  }

  .top-nav-bar {
    position: fixed;
    top:60px;
    margin-top:5px;
  }

}

@media (min-width : 360px) and (max-width : 360px){  
  .mobile-download-app-desc {
    margin-left:8px;
    width: 38%
  }

  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 5px 5px !important;
    list-style: none;
  }
}
@media (min-width : 300px) and (max-width : 358px) {
  .download-app-chip-top-header {
    font-size: 10px;
    vertical-align: middle;
    margin-right: 12px;
    line-height: 20px !important;
  }
  .mobile-download-app-top-header {
    padding:16px 12px;
  }
}

@media (min-width : 375px) and (max-width : 375px){  
  .mobile-download-app-desc {
    margin-left:8px;
    width: 38%
  }

  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 6px 8px !important;
    list-style: none;
  }
  
}
@media (min-width : 393px) and (max-width : 393px){  
  .mobile-download-app-desc {
    margin-left:8px;
    width: 38%
  }

  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 6px 7px !important;
    list-style: none;
  }
}

@media (min-width : 412px) and (max-width : 412px){  
  .mobile-download-app-desc {
    margin-left:8px;
    width: 38%
  }

  .download-app-chip-top-header {
    border-radius: 64px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 6px 9px !important;
    list-style: none;
  }
}
@media (min-width : 414px) and (max-width : 414px){  
  .mobile-download-app-desc {
    margin-left: 8px;
    width: 47%
  }

  .download-app-chip-top-header {
    border-radius: 64px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    list-style: none;
  }
}
@media (min-width : 390px) and (max-width : 390px){  
  .mobile-download-app-desc {
    margin-left: 8px;
    width: 36%
  }

  .download-app-chip-top-header {
    border-radius: 64px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    list-style: none;
  }
}
@media (min-width : 768px) and (max-width : 768px){  
  .mobile-download-app-desc {
    margin-left: 8px;
    width: 60%
  }
  
  .download-app-chip-top-header {
    border-radius: 64px;
    background: #F3962F;
    color: #fff;
    min-width: 136px;
    text-align: center;
    padding: 6px 10px;
    list-style: none;
  }
}
@media (min-width : 540px) and (max-width : 540px){  
  .mobile-download-app-desc {
    margin-left:8px;
    width:50%
  }
  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    list-style: none;
  }
}
@media (min-width : 280px) and (max-width : 280px){  
  .mobile-download-app-desc {
    margin-left:8px;
    width:20%
  }
  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    text-align: center;
    padding: 5px 5px !important;
    list-style: none;
  }
}