@import 'ws-vars';
@import 'ws-mixins';

ws-app-nav-bar {
  z-index: 1000;
}

.route-change {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.height-on-bottom {
  overflow: auto;
  // padding-bottom: 56px;
  box-sizing: border-box;
}

.height-on-top {
  margin-top: 56px;
  position: fixed;
  width: 100%;
  z-index: 1000;

}

.top-nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
}

.bottom-nav-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.height-adjust {
  min-height: calc(100vh - (56px + 52px));

  @include breakpoint-xs {
    min-height: calc(100vh - (60px + 77px));
  }
}

.new-width {
  margin-left: auto;
  margin-right: auto;
  // max-width: 1267px;
  // display: flex;
  flex: 1;
}

.app-footer {
  display: block;
  padding-bottom: 56px;

  @include breakpoint-gt-xs {
    padding: 0;
  }
}


.skipnav a {
  width: 12em;
  display: block;
  color: #fff;
  background: #333;
  text-decoration: none;
  padding: 15px;
  position: absolute;
  left: -1000em;
  top: 0;
  font-weight: bold;
  box-sizing: border-box;
}

.skipnav a:visited {
  color: #fff;
}

.skipnav a:focus,
.skipnav a:active {
  z-index: 9999;
  top: 0rem;
  left: 1rem;
  border: solid #777 2px;
  color: #fff;
  background: #333 !important;
}

.height-48 {
  height: 48px;
}

.mobile-download-app-top-header {
  display: none;
}

@media (max-width : 768px) {
  .height-on-top {
    margin-top: 116px;
  }

  .mobile-download-app-top-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 100%;
    background-color: #fff;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
  }



  .kb-symbol {
    background: rgba(239, 149, 30, 0.24);
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid rgba(239, 149, 30, 0.24);
    margin-left: 4px;
  }
  .kb-symbol img{
    vertical-align: middle;
  }

  .cross-mobile-download-app {
    background: rgb(216, 216, 216);
    padding: 3px 7px;
    text-align: center;
  }

  .cross-mobile-download-app span {
    color: rgba(0, 0, 0, 0.16)
  }

  .mobile-download-app-desc {
    margin-left:8px;
  }
  .mobile-download-app-desc-heading {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 900;
  }
  .mobile-download-app-desc-sub-heading {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
  }
  .download-app-chip-top-header {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    min-width: 129px;
    text-align: center;
    padding: 6px 16px;
    list-style: none;
  }

  .top-nav-bar {
    margin-top:5px;
  }

}