<div class="flex flex-col gap-2 p-4">
    <div class="flex flex-row gap-2 items-center">
        <div class="initial-circle rounded-full border-1 text-white leading-3 capitalize" [style.background]="dataToBind?.user['icon:bgColor']">
            {{ dataToBind?.user['icon:text'] }}
        </div>
        <div class="text-sm">{{ dataToBind?.user?.username || 'Anonymous' }}</div>
        <div>.</div>
        <div class="text-sm">{{ dataToBind?.timestamp | pipeRelativeTime }}</div>
    </div>
    <div class="text-sm">{{ dataToBind?.category?.name }}</div>
    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2">
            <mat-icon>swap_vert</mat-icon>
            <div class="text-xs">{{ (dataToBind?.upvotes + dataToBind?.downvotes) || 0 }} Votes</div>
        </div>
        <div class="flex flex-row gap-2">
            <mat-icon>visibility</mat-icon>
            <div class="text-xs">{{ dataToBind?.viewcount || 0 }} Views</div>
        </div>
        <div class="flex flex-row gap-2">
            <mat-icon>chat_bubble</mat-icon>
            <div class="text-xs">{{ ((dataToBind?.postcount || 1) -1) }} Comments</div>
        </div>
    </div>
</div>