<div class="flex flex-col gap-2 p-4">
    <div class="flex flex-row gap-2 items-center">
        <div class="initial-circle rounded-full bg-black border-1 text-white leading-3 capitalize">VS</div>
        <div class="text-sm">Vinod Shyave</div>
        <div>.</div>
        <div class="text-sm">Today, 12.30 PM</div>
    </div>
    <div class="text-sm">What are some merits and demerits of the Dicey’s Rule of law?</div>
    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2">
            <mat-icon>swap_vert</mat-icon>
            <div class="text-xs">24 votes</div>
        </div>
        <div class="flex flex-row gap-2">
            <mat-icon>visibility</mat-icon>
            <div class="text-xs">56 views</div>
        </div>
        <div class="flex flex-row gap-2">
            <mat-icon>chat_bubble</mat-icon>
            <div class="text-xs">12 comments</div>
        </div>
    </div>
</div>