.main-list li{
     margin-bottom: 20px;
     padding-left: 10px;
}
.main-text-box{
    padding: 24px 24px;
}
.text-bold{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal;
}
.click-here{
    font-size: 12pt;
    font-family: "Times New Roman";
    color: #ff0000;
    font-weight: 400;
}
.btn-center{
    text-align: center;
}
.content-text{
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal;
}