<div class="main-text-box">
    <h2 class="text-center">{{'termsandcondition.termsOfService' | translate }}</h2>
    <p class="content-text margin-top-s mat-body-1 main-list">
        {{'termsandcondition.p1' | translate }}
    </p>
    <p class="content-text margin-top-s mat-body-1 main-list">
        {{'termsandcondition.p2' | translate }}
    </p>
    <p class="content-text margin-top-s mat-body-1 main-list">
        {{'termsandcondition.p3' | translate }}
    </p>
    <h3 class="content-text margin-top-s mat-body-1 main-list">
        {{'termsandcondition.p4' | translate }}
    </h3>
    <ol class="content-text margin-top-s mat-body-1 main-list main-list-ol">
        <li>{{'termsandcondition.p5' | translate }}</li>
        <li>{{'termsandcondition.p6' | translate }}<span class="click-here">{{'termsandcondition.p7' | translate }}</span> {{'termsandcondition.p8' | translate }}</li>
        <li>{{'termsandcondition.p9' | translate }}</li>
        <li>{{'termsandcondition.p10' | translate }}</li>
        <li>{{'termsandcondition.p11' | translate }}</li>
        <li>{{'termsandcondition.p12' | translate }}</li>
        <li>{{'termsandcondition.p13' | translate }}</li>
        <li>{{'termsandcondition.p14' | translate }}</li>
        <li>{{'termsandcondition.p15' | translate }}</li>
            <p>{{'termsandcondition.p16' | translate }}</p>
            <ul class="ul-list">
                <li>{{'termsandcondition.p17' | translate }}</li>
                <li>{{'termsandcondition.p18' | translate }}</li>
                <li>{{'termsandcondition.p19' | translate }}</li>
                <li>{{'termsandcondition.p20' | translate }}</li>
                <li>{{'termsandcondition.p21' | translate }}</li>
                <li>{{'termsandcondition.p22' | translate }}</li>
            </ul>

        <li>{{'termsandcondition.p23' | translate }}</li>
        <li>{{'termsandcondition.p24' | translate }}</li>
        <li>{{'termsandcondition.p25' | translate }}</li>
        <li><span class="text-bold">{{'termsandcondition.p26' | translate }}</span>
            <h3 class="text-bold margin-top-s">{{'termsandcondition.p27' | translate }}</h3>
            <p>{{'termsandcondition.p28' | translate }}</p>
            <h3 class="text-bold">{{'termsandcondition.p29' | translate }}</h3>
            <p>{{'termsandcondition.p30' | translate }}</p>
        </li>
        <li>{{'termsandcondition.p31' | translate }}</li>
        <li>{{'termsandcondition.p32' | translate }}</li>
        <li>{{'termsandcondition.p33' | translate }}</li>
        <li>{{'termsandcondition.p34' | translate }}</li>
        <li>{{'termsandcondition.p35' | translate }}</li>
        <li>{{'termsandcondition.p36' | translate }}</li>
        <li>{{'termsandcondition.p37' | translate }}</li>
        <li>{{'termsandcondition.p38' | translate }}</li>
        <li>{{'termsandcondition.p39' | translate }}</li>
        <li>{{'termsandcondition.p40' | translate }}<a href="https://karmayogibharat.gov.in/" target="_blank" class="">{{'termsandcondition.p41' | translate}}</a></li>
        <li><b>{{'termsandcondition.p42' | translate }}</b> {{'termsandcondition.p43' | translate }}</li>
        <li>{{'termsandcondition.p44' | translate }}</li>
        </ol>
    <div class="btn-center">
    <button mat-stroked-button type="submit" class="text-white ws-mat-primary-background flex-auto-display margin-top-s"
        (click)="closeDialog()">
        <span class="text-white" i18n>{{'termsandcondition.p45' | translate }}</span>
    </button>
    </div>
</div>
