<div class="flex flex-col gap-4 mt-8">
    <h5 class="heading">My CBP plans</h5>
    <div class="flex flex-middle">
        <form class="w-full">
            <div appearance="none" class="w-full relative search-block">
              <input name="search" [formControl]="searchControl"  i18n-placeholder placeholder="Search">
              <mat-icon aria-hidden="true" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color absolute" role="img"> search </mat-icon>
            </div>
        </form>
        <mat-icon aria-hidden="true" (click)="openFilter()" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color filter-acbp" role="img"> filter_list </mat-icon>
    </div>

    <ng-container *ngIf="toggleFilter">
        <ws-app-filter (toggleFilter)="toggleFilterMethod($event)"></ws-app-filter>
    </ng-container>
    <div class="mr-2 mb-5" *ngFor="let c of contentDataList">
        <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
    </div>
</div>