.search-block {
    input {
        border-radius: 4px;
        border: 1px solid rgba(0,0,0, 0.16);
        opacity: 1;
        padding: 14px 48px;
        width: -webkit-fill-available;
        width: -moz-available;
    }
    mat-icon {
        left: 12px;
        top: 10px;
    }
}
.filter-acbp {
    padding-left: 16px;
}
.heading {
    opacity: 1;
    color: rgba(0,0,0,0.87);
    font: 600 16px/24px Montserrat-SemiBold;
    font-style: normal;
    letter-spacing: 0.12px;
    text-align: left;
}

.tag-wrap {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    opacity: 1;
    width: fit-content;
    padding: 8px;
    p{
        opacity: 1;
        color: rgba(0, 0, 0, 0.87);
        font-family: "Lato-Regular";
        font-size: 14px;
        font-weight: 400;
        font-style: Regular;
        letter-spacing: 0.25px;
        text-align: left;
        line-height: 20px;
        margin-bottom: 0;
    }
}

.filter-dot {
    background-color: #d13924;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 0px;
}
.search-help-text {
    opacity: 1;
color: rgba(0, 0, 0, 0.87);
font-family: "Lato-Regular";
font-size: 14px;
font-weight: 400;
font-style: Regular;
letter-spacing: 0.25px;
text-align: center;
line-height: 20px;
}