
<ng-container>
  <div class="fixed-width flex flex-wrap">
    <div class="chatbot-icon" *ngIf="showIcon">
      <mat-icon (click)="iconClick()">chat_bubble</mat-icon>
    </div>
    <div class="chatbot" *ngIf="!showIcon">
      <div class="flex flex-wrap cb-header padding-m">
        <div class="flex flex-1">KarmaSahayogi - Digital Assistant</div>
        <div class="flex flex-2"><mat-icon class="cb-close" (click)="iconClick()">close</mat-icon></div>
      </div>
      <div class="flex flex-wrap cb-content padding-m">

      </div>
      <div class="flex flex-wrap cb-topics padding-m">
        <div class="cat-list">
          <div class="cat-item">Home</div>
          <div class="cat-item">News</div>
          <div class="cat-item">Contactasfsdfsdfsdfsdf</div>
          <div class="cat-item">About</div>
          <div class="cat-item">Support</div>
          <div class="cat-item">Blog</div>
          <div class="cat-item">Tools</div>  
          <div class="cat-item">Base</div>
          <div class="cat-item">Custom</div>
          <div class="cat-item">More</div>
        </div>
      </div>


      <div class="flex flex-wrap cb-footer">
        <div class="info br-bl">
          <div class="info-icon">
            <mat-icon>info</mat-icon>
          </div>
          <div class="info-text">
            Information
          </div>
        </div>

        <div class="info br-br">
          <div class="info-icon">
            <mat-icon>warning</mat-icon>
          </div>
          <div class="info-text">
            Issue
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
