
<ng-container>
  <div class="fixed-width flex flex-wrap">
    <div class="chatbot-icon" *ngIf="showIcon">
      <mat-icon (click)="iconClick()">chat_bubble</mat-icon>
    </div>
    <div class="chatbot" *ngIf="!showIcon">
      <div class="flex flex-wrap cb-header padding-m">
        <div class="flex flex-1">KarmaSahayogi - Digital Assistant</div>
        <div class="flex flex-2">
          <mat-select class="language">
            <mat-option value="english" selected>English</mat-option>
            <mat-option value="hindi">Hindi</mat-option>
          </mat-select>
        </div>
        <div class="flex flex-3"><mat-icon class="cb-close" (click)="iconClick()">close</mat-icon></div>
      </div>
      <div class="flex flex-wrap cb-content padding-m">

      </div>
      <div class="flex flex-wrap cb-topics padding-m">
        <div class="cat-list">
          <ng-container *ngFor="let item of categories">
            <div class="cat-item">{{item}}</div>
          </ng-container>
        </div>
      </div>


      <div class="flex flex-wrap cb-footer">
        <div class="info br-bl padding-top-xs active">
          <div class="info-icon">
            <mat-icon>info</mat-icon>
          </div>
          <div class="info-text">
            Information
          </div>
        </div>
        <div class="info br-br padding-top-xs">
          <div class="info-icon">
            <mat-icon>warning</mat-icon>
          </div>
          <div class="info-text">
            Issue
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-container>
