
<ng-container>
  <div class="fixed-width flex flex-wrap">
    <div class="chatbot-icon" *ngIf="showIcon">
    <img alt="chatbot-icon" src="/assets/icons/chatbot-default.png" (click)="iconClick()">
    </div>
    <div class="chatbot" *ngIf="!showIcon">
      <div class="flex flex-wrap cb-header padding-m">
        <div class="">KarmaSahayogi - Digital Assistant</div>
        <div class="">
          <mat-form-field>
            <mat-select>
              <mat-option *ngFor="let lang of language" [value]="lang.value">
                {{lang.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class=""><mat-icon class="cb-close" (click)="iconClick()">close</mat-icon></div>
      </div>
      <div class="flex flex-wrap cb-content padding-m">
        <ng-container *ngIf="currentFilter === 'info'">
          <ws-app-chatbot-info></ws-app-chatbot-info>
        </ng-container>
        <ng-container *ngIf="currentFilter === 'issue'">
          <ws-app-chatbot-issue></ws-app-chatbot-issue>
        </ng-container>
      </div>
      <div class="flex flex-wrap cb-topics">
        <div class="cat-list">
          <ng-container *ngFor="let item of categories">
            <div class="cat-item">{{item}}</div>
          </ng-container>
        </div>
      </div>
      <div class="flex flex-wrap cb-footer">
        <div class="info br-bl padding-top-xs" [ngClass]="{active: currentFilter === 'info'}" (click)="toggleFilter('info')">
          <div class="info-icon">
            <mat-icon>info</mat-icon>
          </div>
          <div class="info-text">
            Information
          </div>
        </div>
        <div class="info br-br padding-top-xs" [ngClass]="{active: currentFilter === 'issue'}" (click)="toggleFilter('issue')">
          <div class="info-icon">
            <mat-icon>warning</mat-icon>
          </div>
          <div class="info-text">
            Issue
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
