
<ng-container *ngIf="upcommingList.length">
    <div class="mt-8 mb-8 highlight-block hidden md:block">
        <div class="flex flex-middle margin-bottom-s">
            <p class="title">{{'cbpPlanStats.upcoming' | translate }}</p>
            <!-- //NOSONAR --> <mat-icon aria-hidden="true" (click)="upComingMethod('upcoming')" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color cursor-pointer" role="img"> chevron_right </mat-icon>
        </div>
        <div class="mb-5" *ngFor="let c of upcommingList  | slice:0:2">
            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
        </div>
     </div>
</ng-container>

<ng-container *ngIf="overDueList.length">
    <div class="mt-8 mb-8 highlight-block hidden md:block" *ngIf="overDueList.length">
        <div class="flex flex-middle margin-bottom-s">
            <p class="title">{{'cbpPlanStats.overdue' | translate }}</p>
            <!-- //NOSONAR --> <mat-icon aria-hidden="true" (click)="upComingMethod('overdue')" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color cursor-pointer" > chevron_right </mat-icon>
        </div>
        <div class="mb-5" *ngFor="let c of overDueList  | slice:0:2">
            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
        </div>
     </div>
</ng-container>
<div class=" block md:hidden">
    <div class="mt-8 mb-8 highlight-block padding-remove "  *ngIf="upcommingList.length && overDueList.length;else nextTemplate">
        <div class="seeAll-home-container m-auto gap-4">
            <mat-tab-group  mat-stretch-tabs>
                <mat-tab >
                    <ng-template mat-tab-label>
                        {{'cbpPlanStats.upcoming' | translate }}&nbsp;
                        <span *ngIf="upcommingList.length">({{upcommingList.length}})</span>
                      </ng-template>
                    <ng-container *ngIf="upcommingList.length">
                        <div class="p-4 pb-0">
                            <div class="mb-5" *ngFor="let c of upcommingList  | slice:0:2">
                                <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
                            </div>
                            <div class="flex flex-center">
                                <!-- //NOSONAR --> <p class="ws-mat-default-text"  (click)="upComingMethod('upcoming');scroll('listPage')">Show all</p>
                            </div>
                        </div>
                    </ng-container>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{'cbpPlanStats.upcoming' | translate }}&nbsp;
                        <span *ngIf="upcommingList.length">({{upcommingList.length}})</span>
                      </ng-template>
                    <ng-container *ngIf="overDueList.length">
                        <div class="p-4 pb-0">
                            <div class="mb-5" *ngFor="let c of overDueList  | slice:0:2">
                                <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
                            </div>
                            <div class="flex flex-center">
                                <!-- //NOSONAR --> <p class="ws-mat-default-text" (click)="upComingMethod('overdue');scroll('listPage')">Show all</p>
                            </div>
                        </div>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

    <ng-template #nextTemplate>
        <ng-container *ngIf="upcommingList.length">
            <ng-container [ngTemplateOutlet]="detail"
                            [ngTemplateOutletContext]="{ data:{
                       data: upcommingList,
                       title: 'Upcoming',
                       subTitle:'',
                       key:'upcoming'
                      }}"></ng-container>
        </ng-container>
        <ng-container *ngIf="overDueList.length">
            <ng-container [ngTemplateOutlet]="detail"
                            [ngTemplateOutletContext]="{ data:{
                       data: overDueList,
                       title: 'Overdue',
                       subTitle:'',
                       key:'overdue'
                      }}"></ng-container>
        </ng-container>
    </ng-template>
</div>


<ng-template #detail let-data="data">
    <div class="mt-8 mb-8 highlight-block">
        <div class="flex flex-middle margin-bottom-s">
            <p class="title">{{data.title}}</p>
            <!-- //NOSONAR --> <mat-icon aria-hidden="true" (click)="upComingMethod(data.key);scroll('listPage')" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color cursor-pointer"> chevron_right </mat-icon>
        </div>
        <div>
            <p class="description">{{data.subTitle}}</p>
        </div>
        <div class="mb-5" *ngFor="let c of data.data  | slice:0:2">
            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
        </div>
    </div>
</ng-template>
