
<ng-container *ngIf="upcommingList.length">
    <div class="mt-8 mb-8 highlight-block hidden md:block">
        <div class="flex flex-middle">
            <p class="title">Upcoming timelines</p>
            <mat-icon aria-hidden="true" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" role="img"> chevron_right </mat-icon>
        </div>
        <div>
            <p class="description">These plans are close to CBP deadline, need to complete before deadline.</p>
        </div>
        <div class="mb-5" *ngFor="let c of upcommingList  | slice:0:2">
            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
        </div>
     </div>
</ng-container>

<ng-container *ngIf="overDueList.length">
    <div class="mt-8 mb-8 highlight-block hidden md:block" *ngIf="overDueList.length">
        <div class="flex flex-middle">
            <p class="title">Over due plans</p>
            <mat-icon aria-hidden="true" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" role="img"> chevron_right </mat-icon>
        </div>
        <div>
            <p class="description">CBP Deadline passed</p>
        </div>
        <div class="mb-5" *ngFor="let c of overDueList  | slice:0:2">
            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
        </div>
     </div>
</ng-container>
 <div class="mt-8 mb-8 highlight-block padding-remove  block md:hidden">
    <div class="seeAll-home-container m-auto gap-4">
        <mat-tab-group>
            <mat-tab label="Upcoming">
                <ng-container *ngIf="upcommingList.length">
                    <div class="p-4 padding-bottom-remove">
                        <div class="mb-5" *ngFor="let c of upcommingList  | slice:0:2">
                            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
                        </div>
                        <div class="flex flex-center">
                            <p class="ws-mat-default-text">Show all</p>
                            <mat-icon aria-hidden="true" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" role="img"> chevron_right </mat-icon>
                        </div>
                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab label="Over due">
                <ng-container *ngIf="overDueList.length">
                    <div class="p-4 padding-bottom-remove">
                        <div class="mb-5" *ngFor="let c of overDueList  | slice:0:2">
                            <ws-widget-card-content-v2 [widgetData]="c.widgetData"> </ws-widget-card-content-v2>
                        </div>
                        <div class="flex flex-center">
                            <p class="ws-mat-default-text">Show all</p>
                            <mat-icon aria-hidden="true" class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" role="img"> chevron_right </mat-icon>
                        </div>
                    </div>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>