<div class="home">
  <mat-toolbar class="mt-53 nav-toolbar">
    <!-- //NOSONAR --> <div class="fix-ww flex flex-row mt-3" id="root-tool-bar" title="toolbar" i18n-aria-label role="toolbar">
      <a class="logo-dim" role="link" title="Home" i18n-aria-title i18n-aria-label routerLink="/static-home">
        <img src="https://www.igot-dev.in/img/karmayogiLogo.svg" alt="Application Logo" class="app-logo" />
      </a>
      <div class="text-end flex flex-1 flex-row-reverse signup_div">
        <a routerLink="/public/signup" class="btn btn-primary text-center margin-left-s">{{ 'common.register' | translate }}</a>
        <a href="/protected/v8/resource" class="btn btn-link">{{ 'common.signIn' | translate }}</a>
      </div>
    </div>
  </mat-toolbar>

  <section class="main-section">
    <div class="container container-balanced">
      <div class="items-center justify-between mainContent grid-cols-2 grid">
        <div class="content">
          <h1 class="mb-4 title-heading">{{ 'publicHome.mainSectionContent' | translate }}</h1>
          <p class="mb-12">{{ 'publicHome.mainSectionContent' | translate }}</p>
          <div class="d-block float-left mb-12 mt-10 ">
            <a routerLink="/public/signup" class="btn btn-secondary mr-4">{{ 'common.register' | translate }}</a>
          </div>
        </div>
        <div class="displayImg text-center">
          <img src="/assets/instances/eagle/landing-img/image2.png" alt="igot screen display">
        </div>
      </div>

      <div *ngIf="learnNetworkSection?.length > 0" class="analyticsRecord">
        <div class="flex flex-col">
          <h1 class="mb-12 text-center">{{ 'publicHome.learnAndNetwork' | translate }}
          </h1>
          <div class="grid-cols-4 grid recordBox mt-8">
            <div class="listInfo" *ngFor="let content of learnNetworkSection">
              <div class="icon"><img src="{{content?.image}}" alt="icon"></div>
              <h1 class="my-6">{{content?.count}}</h1>
              <p class="m-0 margin-remove-bottom">{{content?.title}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section *ngIf="isWsInit && !loading && data && data.length && data[0]?.widget" class="journeySection1">
    <div class="new-box">
      <ng-container [wsResolverWidget]="data[0].widget"></ng-container>
    </div>
  </section>
  <section>
    <div *ngIf="loading || !isWsInit" class="text-center my-2">
      <mat-spinner class="inline-block"></mat-spinner>
    </div>
  </section>

  <section class="servicesSection">
    <div class="container container-balanced">
      <div class="row">
        <div class="servicesTab pb-12">
          <div class="mat-headline text-white text-left mt-12 service_heading">{{ 'publicHome.serviceHeading' | translate }}</div>

          <div class="flex flex-1 flex-row player_box">
            <div class="flex flex-1 flex-col">
              <h4 class="margin-bottom-l text-white text-left">{{ 'publicHome.expCivilServant' | translate }}</h4>
              <div class="exCivilVideo">
                <!-- //NOSONAR --> <video width="100%" height="auto" controls poster="/assets/instances/eagle/landing-img/video1.png">
                  <source src="https://igot.blob.core.windows.net/public/Sanjeev-final.mp4" type="video/mp4">
                </video>
              </div>
            </div>

            <div class="flex flex-1 flex-col margin-left-m">
              <h4 class="margin-bottom-l text-white text-left">{{ 'publicHome.servicesSection' | translate }}</h4>
              <div class="exCivilVideo">
                <!-- //NOSONAR --> <video width="100%" height="auto" controls poster="/assets/instances/eagle/landing-img/video2.png">
                  <source src="https://igot.blob.core.windows.net/public/Shilpa-final.mp4" type="video/mp4">
                </video>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="journeySection">
    <div class="container container-balanced">
      <div class="flex flex-row w-100">
        <div class="flex flex-column justify-center items-center journeyContent">
          <h1 class="mb-3">{{ 'publicHome.journeySectionMain' | translate }}</h1>
          <p>{{ 'publicHome.journeySectionPara' | translate }}</p>
          <div class="mt-2"><a routerLink="/public/signup" class="btn btn-primary">{{ 'common.register' | translate }}</a> </div>
        </div>
      </div>
    </div>
  </section>

  <section class="solutionService pt-12 pb-8">
    <div class="container container-balanced">
      <div class="row">
        <h1 class=" text-center">Solutioning space for all of Government{{ 'publicHome.learnAndNetwork' | translate }}</h1>
        <div class="grid-cols-3 grid gap-4 mt-8 solutionServiceInner">
          <div class="">
            <div class="servicesItem learning">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/Learn.svg" alt="learning icon"></div>
              <h2 class="ws-mat-primary-default-text">{{ 'publicHome.learningHub' | translate }}</h2>
              <p>{{ 'publicHome.learnhubPara' | translate }}
              </p>
            </div>
          </div>
          <div class="">
            <div class="servicesItem discussion">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/discussionIcon.svg" alt="Discussion icon">
              </div>
              <h2 class="ws-mat-primary-default-text">{{ 'publicHome.discussionHub' | translate }}</h2>
              <p>{{ 'publicHome.ServiceItemDiscussion' | translate }}</p>
            </div>
          </div>
          <div class="">
            <div class="servicesItem user">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/userIcon.svg" alt="User icon"></div>
              <h2 class="ws-mat-primary-default-text">{{ 'publicHome.networkHub' | translate }}</h2>
              <p>{{ 'publicHome.learnAndNetwork' | translate }}</p>
            </div>
          </div>
          <div class="">
            <div class="servicesItem competency">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/competencyIcon.svg" alt="competency icon">
              </div>
              <h2 class="ws-mat-primary-default-text">{{ 'publicHome.competencyHub' | translate }}</h2>
              <p>{{ 'publicHome.competencyHubPara' | translate }}
              </p>
            </div>
          </div>
          <div class="">
            <div class="servicesItem career">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/careerIcon.svg" alt="career icon"></div>
              <h2 class="ws-mat-primary-default-text">{{ 'publicHome.careerHub' | translate }}</h2>
              <p> {{ 'publicHome.careerHubPara' | translate }}</p>
            </div>
          </div>
          <div class="">
            <div class="servicesItem event">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/eventIcon.svg" alt="event icon"></div>
              <h2 class="ws-mat-primary-default-text"> {{ 'publicHome.eventHub' | translate }}</h2>
              <p>{{ 'publicHome.eventHubPara' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="iGotWalkthrough">
    <div class="container container-balanced">
      <div class="flex flex-row items-center justify-center">
        <div class="grid-cols-1 grid">
          <div class="flex flex-1 flex-row">
            <div class="flex flex-1 flex-col">
              <h1 class="mb-3">{{ 'publicHome.walkthroughIgot' | translate }}</h1>
              <p class="mb-12">{{ 'publicHome.igotWalkthrough' | translate }}</p>
            </div>

            <div class="flex flex-1 flex-col">
              <div class="exCivilVideo text-center mt-4 margin-left-m">
                <!-- //NOSONAR --> <video controls="" height="100%" width="100%">
                  <source src="https://igot.blob.core.windows.net/public/video-guide.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="growthSection">
    <div class="container container-balanced">
      <div class="flex flex-row justify-center  items-center ">
        <div class="grid-cols-1 grid">
          <div class="growthHub  text-center">
            <h1 class="pb-2">{{ 'publicHome.learnAndNetwork' | translate }}</h1>
            <div class=""><a routerLink="/public/signup" class="btn btn-primary">{{ 'common.register' | translate }}</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
