

<!-- <div class="header">
    <div class="container container-balanced">
      <div class="header flex flex-wrap items-center justify-between py-2 grid grid-col-2 flex-row">
        <a href="" class="flex items-center flex-2">
          <img class="logo" src="/assets/instances/eagle/landing-img/logo.svg" alt="Karamyogi Bharat logo">
        </a>

      </div>
    </div>
  </div> -->
  <section class="main-section pb-20">
    <div class="container container-balanced">
      <div class="items-center justify-between mainContent grid-cols-2 grid">
        <div class="content">
          <h1 class="mb-4 title-heading">Learn. Network. Grow your career.</h1>
          <p class="mb-12">Gain skills to rocket your career growth. Connect with civil servants and experts to learn and discover new opportunities in the Indian civil services.</p>
          <div class="d-block float-left mb-12 mt-10 ">
            <a routerLink="/public/signup"  class="btn btn-secondary mr-4">Register</a>
            <!-- <button mat-raised-button color="primary" class="me-2">Register</button>
                  <a href="/protected/v8/resource"  class="btn btn-link me-0 me-md-3">Sign In</a>
      <a routerLink="/public/signup"  class="btn btn-primary">Register</a>
            <button mat-stroked-button color="secondary">Basic</button> -->
            <!-- <a href="/protected/v8/resource" class="btn btn-outline-secondary">Sign In</a> -->
           </div>
        </div>
        <div class="displayImg text-center">

          <img src="/assets/instances/eagle/landing-img/image2.png" alt="igot screen display">

        </div>
      </div>

      <div class="analyticsRecord">
        <div class="flex flex-col">
          <h1 class="mb-12 text-center">Learn and network with civil servants and subject matter experts across India</h1>
          <div class="grid-cols-4 grid">
          <div class="">
            <div class="listInfo civilRecord">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/user.svg" alt="icon"></div>
              <h1 class="my-6">20</h1>
              <p class="m-0">Million Indian civil servants</p>
            </div>
          </div>
          <div class="">
            <div class="listInfo ministerRecord">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/building.svg" alt="icon"></div>
              <h1 class="my-6">184</h1>
              <p class="m-0">Ministries,
  Departments & Organizations</p>
            </div>
          </div>
          <div class="">
            <div class="listInfo competencRecord">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/wellness.svg" alt="icon"></div>
              <h1 class="my-6">600+</h1>
              <p class="m-0">Competencies</p>
            </div>
          </div>
          <div class="">
            <div class="listInfo courseRecord bg-none">
              <div class="icon"><img src="/assets/instances/eagle/landing-img/course.svg" alt="icon"></div>
              <h1 class="my-6">1000+</h1>
              <p class="m-0">Courses</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="servicesSection">
    <div class="container container-balanced">
      <div class="row">
        <div class="servicesTab">
        <h1 class="text-white text-center mt-12 pt-12">How does the platform enable you to become the best version of yourself?</h1>

        <mat-tab-group mat-align-tabs="center" [disableRipple]=true color="transparent">
          <mat-tab label="An experienced civil servant" class="nav-link">
            <div class="tab-pane fade show active my-12" id="pillsExCivil" role="tabpanel" aria-labelledby="ex-civil">

                <div class="flex flex-1">
                  <div class="exCivilVideo"><img src="/assets/instances/eagle/landing-img/video1.png" alt="video presentation"></div>
                </div>

              <div class="dd-border1"></div>
              <div class="dd-border1 dd-border2"></div>
            </div>
          </mat-tab>
          <mat-tab label="A newly recruited civil servant" class="nav-link">
            <div class="tab-pane fade my-12" id="pillsNewCivil" role="tabpanel" aria-labelledby="new-civil">
              <div class="flex flex-1">

                 <div class="exCivilVideo"><img src="/assets/instances/eagle/landing-img/video2.png" alt="video presentation"></div>

             </div>
             <div class="dd-border1"></div>
             <div class="dd-border1 dd-border2"></div>
           </div>
          </mat-tab>

        </mat-tab-group>



            <!-- <div class="servicesTabPills">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="ex-civil" data-bs-toggle="pill" data-bs-target="#pillsExCivil" type="button" role="tab" aria-controls="pillsExCivil" aria-selected="true">An experienced civil servant</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="new-civil" data-bs-toggle="pill" data-bs-target="#pillsNewCivil" type="button" role="tab" aria-controls="pillsNewcivil" aria-selected="false">A newly recruited civil servant</button>
                </li>
              </ul>
            </div> -->
            <!-- <div class="tab-content my-5" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pillsExCivil" role="tabpanel" aria-labelledby="ex-civil">
                <div class="row">
                  <div class="grid-cols-12">
                    <div class="exCivilVideo"><img src="/assets/instances/eagle/landing-img/video1.png" alt="video presentation"></div>
                  </div>
                </div>
                <div class="dd-border1"></div>
                <div class="dd-border1 dd-border2"></div>
              </div>
              <div class="tab-pane fade" id="pillsNewCivil" role="tabpanel" aria-labelledby="new-civil">
                 <div class="row">
                  <div class="grid-cols-12">
                    <div class="exCivilVideo"><img src="/assets/instances/eagle/landing-img/video2.png" alt="video presentation"></div>
                  </div>
                </div>
                <div class="dd-border1"></div>
                <div class="dd-border1 dd-border2"></div>
              </div>

            </div> -->

      </div>

    </div>
  </div>
  </section>
  <section class="journeySection">
    <div class="container container-balanced">
      <div class="flex flex-row w-100">
      <!-- <div class="grid-cols-1 grid"> -->
        <div class="flex flex-column justify-center items-center journeyContent">
          <h1 class="mb-3">Start your learning journey </h1>
          <p>Are you a government official without an iGOT Karmayogi account yet? Start here.</p>
          <div class="mt-2"><a routerLink="/public/signup" class="btn btn-primary">Register</a> </div>
        </div>
      <!-- </div> -->
      </div>
    </div>
  </section>
  <section class="solutionService pt-24 pb-24">
    <div class="container container-balanced">
      <div class="row">
        <h1 class=" text-center">Solutioning space for all of Government</h1>
        <div class="grid-cols-3 grid gap-4 mt-8" >
        <div class="">
          <div class="servicesItem learning">
            <div class="icon"><img src="/assets/instances/eagle/landing-img/Learn.svg" alt="learning icon"></div>
            <h2 class="ws-mat-primary-default-text">Learning hub</h2>
            <p>Learn anywhere, anytime and bridge your competency gaps using impactful and engaging learning content.</p>
          </div>
        </div>
        <div class="">
          <div class="servicesItem discussion">
            <div class="icon"><img src="/assets/instances/eagle/landing-img/discussionIcon.svg" alt="Discussion icon"></div>
            <h2 class="ws-mat-primary-default-text">Discussion hub</h2>
            <p>Discuss and learn with peers, colleagues, civil servants and experts across the country.</p>
          </div>
        </div>
        <div class="">
          <div class="servicesItem user">
            <div class="icon"><img src="/assets/instances/eagle/landing-img/userIcon.svg" alt="User icon"></div>
            <h2 class="ws-mat-primary-default-text">Network hub</h2>
            <p>Connect with civil servants across the country. Grow your network within government circles.</p>
          </div>
        </div>
        <div class="">
          <div class="servicesItem competency">
            <div class="icon"><img src="/assets/instances/eagle/landing-img/competencyIcon.svg" alt="competency icon"></div>
            <h2 class="ws-mat-primary-default-text">Competency hub</h2>
            <p>Identify your competency requirements, competency gaps, so you can grow faster in the right direction.</p>
          </div>
        </div>
        <div class="">
          <div class="servicesItem career">
            <div class="icon"><img src="/assets/instances/eagle/landing-img/careerIcon.svg" alt="career icon"></div>
            <h2 class="ws-mat-primary-default-text">Career hub</h2>
            <p> Explore career opportunities across the country and signal your expertise.</p>
          </div>
        </div>
        <div class="">
          <div class="servicesItem event">
            <div class="icon"><img src="/assets/instances/eagle/landing-img/eventIcon.svg" alt="event icon"></div>
            <h2 class="ws-mat-primary-default-text"> Events hub</h2>
            <p>Join online and in-person events to break silos and share ideas.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <section class="iGotWalkthrough">
    <div class="container container-balanced">
      <div class="flex flex-row items-center justify-center">
        <div class="grid-cols-1 grid">
          <h1 class="mb-3 text-center">Walkthrough of the iGOT Karmayogi Portal</h1>
          <div class="walkthroughVideo text-center mt-4">
            <img src="/assets/instances/eagle/landing-img/walkthroughImg.svg" alt="video image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="growthSection">
    <div class="container container-balanced">
      <div class="flex flex-row justify-center  items-center ">
        <div class="grid-cols-1 grid">
          <div class="growthHub">
            <h1 class="pb-2">Learn. Network. Take your career growth to the next level.</h1>
           <div class=""><a routerLink="/public/signup" class="btn btn-primary">Register</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

