.font-icon {
    vertical-align: middle;   
}

@media screen and (max-width: 768px) {
    .mobile-margin {
        margin-top: 6px;
    }
}

.font-container {
    height: 50px;
}

.font-slider {
    height: 32px;
}

.smaller-size {
    margin-left: 16px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.larger-size {
    margin: 0 8px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.6);
}

.mat-slider-horizontal {
    min-width: 100px !important;
}

.scale {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: -9px;
    margin: 0 16px;
    width: 132px;
}

.scale-1 {
    height: 3px;
    width: 1px;
    border-right: 1px solid rgb(27, 76, 161);
    margin: 0 0px 0 18px;
}

.scale-2 {
    height: 3px;
    width: 1px;
    border-right: 1px solid rgb(27, 76, 161);
    margin: 0 18px 0 18px;
}

.scale-3 {
    height: 3px;
    width: 1px;
    border-right: 1px solid rgb(27, 76, 161);
    margin: 0 16px 0 0px;
}

.scale-4 {
    height: 3px;
    width: 1px;
    border-right: 1px solid rgb(27, 76, 161);
    margin: 0 16px 0 0px;
}

.scale-5 {
    height: 3px;
    width: 1px;
    border-right: 1px solid rgb(27, 76, 161);

}

::ng-deep .mat-slider-thumb {
    bottom: -6px !important;
    height: 12px !important;
    width: 12px !important;
    background-color: #1B4CA1 !important;
}

::ng-deep .mat-slider-thumb-label {
    background-color: #1B4CA1 !important;
}

::ng-deep .font-panel-container {
    max-width: 174px !important;
    min-width: 174px !important;
    border-radius: 8px !important;
    min-height: 0 !important;
    margin-left: -200px !important
}

@media only screen and (min-width: 1366px)  {
    .mat-slider-horizontal {
        min-width: 90px !important;
    }
}
@media only screen and (min-width: 1920px)  {
    .mat-slider-horizontal {
        min-width: 90px !important;
    }
}