@import 'ws-vars';
@import 'ws-mixins';

%background-image-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%page-center {
  // max-width: $page-center;
  max-width: $max-screen;
  margin-left: auto !important;
  margin-right: auto !important;
}

%height-mat-toolbar-sibling {
  height: calc(100% - #{$mat-toolbar-xs});

  // padding: $size-m;
  @include breakpoint-gt-xs {
    height: calc(100% - #{$mat-toolbar-gt-xs});
  }
}


.mat-select-pane {
  max-width: 360px!important;
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option, .mat-option {
  line-height: 1em!important;
}

.mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: initial!important;
  text-overflow: initial!important;
  white-space: normal!important;
}