@import 'ws-mixins';
@import 'ws-vars';
@import 'ws-common';




    .input-column {
      flex: auto;
    }

    .radio-toolbar input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }

    .radio-toolbar {
      padding: 10px 0;
    }

  .mat-radio-button {
    font-size: 14px;
  }


    .radio-toolbar label {
      display: inline-block;
      padding: 7px 21px;
      font-size: 14px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #5F5F5F;
      border-radius: 4px;
      margin: 0 10px 10px 0;
      color: #5F5F5F;
      cursor: pointer;
      transition: all 0.125s ease-in-out;
    }

    .radio-toolbar input[type="radio"]:checked+label {
      background: #0074b6 0% 0% no-repeat padding-box;
      border-radius: 4px;
      border-color: #0074b6;
      color: #fff;
    }

    .radio-toolbar input[type="radio"]:focus+label {
      background: #0074b6 0% 0% no-repeat padding-box;
      border-radius: 4px;
      border-color: #0074b6;
      color: #fff;
    }


    .radio-toolbar label:hover {
      background: none;
      border-color: #0074b6;
      color: #0074b6;
    }

    ::ng-deep .mat-form-field {
      width: 100%;

      &.full-width {
        max-width: 100%;
      }
    }

    ::ng-deep .mat-form-field-wrapper{
      width: 100%!important;

    }

  input.mat-input-element {
    color: rgba(0,0,0,.87)!important;
    margin-top: 2px!important;
    font-size: 14px;
      font-weight: 400;
      font-family: Lato, sans-serif;
}
  .mat-select {
    color: rgba(0,0,0,.87)!important;
    margin-top: 0.25rem!important
  }
  ::ng-deep .mat-select-value {
    font-size: 14px;
      font-weight: 400;
      font-family: Lato, sans-serif;
  }
 ::ng-deep .mat-select-arrow-wrapper {
    transform: none!important;
}

    .w-full-imp {
      width: 100% !important;
    }

    .button {
      color: #F9F9F9;
      font-size: 14px;
      line-height: 19px;
      height: 40px;
      background-color: rgb(0, 116, 182, 1);
      border-radius: 4px;
      transition: all .25s ease-in;
      width: 100%;
      border:0;
      cursor: pointer;
    }

    .submitBtn{
      color: #fff !important;
    }

    .submitBtn:disabled,
    .submitBtn[disabled] {
      opacity: 0.6;
    }

    .btn-success {
      background-color: #0074b6!important;
      border-radius: 4px;
      width: 240px;
      box-shadow: none;
      margin-right: 16px;

    }

    .btn-success:disabled,
    .btn-success[disabled] {
      opacity: 0.6;
    }

    .btn-danger {
      height: 30px;
      width: 30px
    }

    .color-danger {
      font-size: 30px;
      height: 30px;
      width: 30px;
      color: #e44;
    }

    ::ng-deep .mat-form-field-outline {
      min-height: 40px;
      background: #fff;
      border-radius: 4px;

      .mat-form-field-outline-start {
        border: 1px solid #70707069;
        border-radius: 4px 0 0 4px;
        border-right-style: none;
        min-width: 4px;
      }

      .mat-form-field-outline-gap {
        border: 1px solid currentColor;
        border-radius: 82px;
        border-left-style: none;
        border-right-style: none;
      }

      .mat-form-field-outline-end {
        border: 1px solid #70707069;
        border-left-style: none;
        border-radius: 0 4px 4px 0;
      }
    }

    ::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
      min-height: 40px;
      background: #fff;
      border-radius: 4px;

      .mat-form-field-outline-start {
        border-radius: 4px 0 0 4px;
        min-width: 4px;
        border: 1px solid currentColor;
        border-right-style: none;
      }

      .mat-form-field-outline-gap {
        border-width: 1px;
        border: 1px solid currentColor;
        border-radius: 4px;
        border-left-style: none;
        border-right-style: none;
      }

      .mat-form-field-outline-end {
        border-width: 1px;
        border-radius: 0 4px 4px 0;
        border: 1px solid currentColor;
        border-left-style: none;
      }
    }

    ::ng-deep .mat-form-field-infix {
      padding: 8px 0 0 0!important;
      margin: 8px 0 0!important;
      border: none;
      min-height: 40px;
      box-sizing: border-box;
      align-items: center!important;
    }


 ::ng-deep .theme-igot.day-mode .mat-radio-button.mat-radio-checked   {

      .mat-radio-container {
        .mat-radio-inner-circle {
          background-color: #0174b6 !important;
        }

        .mat-radio-outer-circle {
          border-color: #0174b6 !important;
        }
      }
    }

.theme-igot.day-mode .mat-radio-button.mat-radio-checked .mat-radio-container .mat-radio-inner-circle{
    background-color:#0174b6!important;
}


.theme-igot.day-mode .mat-radio-button.mat-radio-checked .mat-radio-container .mat-radio-outer-circle {
    border-color:#0174b6!important;
}

.mat-form-field-wrapper {
    padding-bottom: 0!important;
}

.theme-igot.day-mode .mat-drawer{
  background-color: #f0f3f4!important;
}

.theme-igot.day-mode .mat-drawer-container {
  background-color: #f0f3f4!important;
}

::ng-deep .mat-radio-label-content {
  padding-left: 12px!important;
}
::ng-deep .mat-checkbox-inner-container {
  margin-right: 12px!important;
}
