<div class="main_container flex flex-column"
    style=" background: url(assets/instances/eagle/banners/home/9/Login_background.png) no-repeat center center fixed;">
    
    <div class="flex flex-1 flex-column right_inner_container profile-box">
        <div class="flex flex-1 right_container flex flex-col items-center justify-center py-16 m-auto">
            <div class="flex flex-1 flex-column m-auto">
                <h1 class="mat-h1 margin-remove inline-block ng-star-inserted">
                    Welcome to iGOT
                </h1>
                <h3 class="mat-h1 margin-remove inline-block ng-star-inserted">
                    Please fill the following information.
                </h3>
            </div>
            <ng-container *ngIf="registrationForm">
                <form class="flex flex-1" [formGroup]="registrationForm">
                    <div class="flex flex-1 margin-top-l new-mobile flex-column">
                        <div class="flex flex-1 flex-row content-center flex-wrap">
                            <div class="flex flex-1 input-wrapper margin-top-s">
                                <label for="firstName" class=" margin-remove-bottom form-label required"
                                    i18n="Full name label|Label which explains the user to enter full name"
                                    i18n-aria-label aria-label="Full name label">
                                    Full name
                                </label>
                                <mat-form-field appearance="outline" class="margin-top-s">
                                    <input id="firstName" matInput #firstname formControlName="firstname"
                                        i18n-placeholder placeholder="Enter your full name" i18n-aria-label
                                        aria-label="Full Name input" />
                                    <mat-error [hidden]="false" i18n="Full Name Error|Explains name is required"
                                        i18n-aria-label aria-label="Full Name Error|Explains name is required "
                                        *ngIf="registrationForm?.controls['firstname'].errors?.required">
                                        Full name is mandatory
                                    </mat-error>
                                    <mat-error [hidden]="false"
                                        *ngIf="registrationForm?.controls['firstname'].errors?.pattern" i18n-aria-label
                                        aria-label="First name Error|Name fields cannot contain numbers and special characters except ">
                                        Name field can only contain letters, space and the character (').
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <div class="flex flex-1 fflex-row content-center flex-wrap">
                            <div class="flex flex-1 input-wrapper margin-top-s">
                                <label for="email" class=" margin-remove-bottom form-label required"
                                    i18n="Email label|Label which explains the user to enter Email" i18n-aria-label
                                    aria-label="Email label">
                                    Email
                                </label>
                                <mat-form-field appearance="outline" class="margin-top-s">
                                    <input id="email" name="emailField" type="email" matInput
                                        placeholder="Enter your email id" #email formControlName="email" i18n-aria-label
                                        aria-label="Email input">
                                    <mat-hint>Please enter a government email ID</mat-hint>
                                    <mat-error [hidden]="false"
                                        *ngIf="registrationForm?.controls['email'].errors?.required"
                                        i18n="Email Error|Explains name is required">
                                        Please enter your email ID
                                    </mat-error>
                                    <mat-error [hidden]="false"
                                        *ngIf="registrationForm?.controls['email'].errors?.pattern" i18n-aria-label
                                        aria-label="Please enter a valid email ID">
                                        Please enter a valid email ID
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <!-- Mobile number field start -->
                        <div class="input-wrapper mobile-wrapper margin-top-l">
                            <label for="mobileNumber" class=" margin-remove-bottom form-label required"
                              i18n="Mobile Number label|Label which explains the user to enter Mobile Number" i18n-aria-label
                              aria-label="Mobile Number label">
                              Mobile Number
                            </label>
                            <div class="flex flex-1">
            
                              <mat-form-field appearance="outline" class="margin-top-s w-full">

                                <input  id="mobileNumber" #mobile type="number" matInput
                                  placeholder="Mobile Number" formControlName="mobile" i18n-aria-label
                                  aria-label="Mobile Number input" maxlength="12">
                                <mat-icon matSuffix class="ws-mat-green-text margin-xs" svgIcon="verified" [hidden]="!isMobileVerified"></mat-icon>
                                <mat-error [hidden]="false" i18n="Mobile Number Error|Explains Mobile no is required"
                                  *ngIf="registrationForm?.controls['mobile'].errors?.required" i18n-aria-label
                                  aria-label="Mobile Number is mandatory">
                                  Mobile Number is mandatory
                                </mat-error>
                                <mat-error [hidden]="false" *ngIf="registrationForm?.controls['mobile'].errors?.pattern"
                                  i18n-aria-label aria-label="Please enter a valid 10 digit mobile number">
                                  Please enter a valid 10 digit mobile number
                                </mat-error>
                                <mat-hint align="start">Please add a valid mobile number</mat-hint>
                              </mat-form-field>
                            </div>
                            <div *ngIf="!isMobileVerified" class="flex flex-1 margin-top-s justify-end">
                              <button *ngIf="!otpSend" mat-raised-button type="button" (click)="sendOtp()"
                                class="submitBtnSmall text-white ws-mat-primary-background ws-mat-white-text btn-responsive" [disabled]="registrationForm?.mobile?.invalid">
                                <a class="text-white" i18n>
                                  Send OTP
                                </a>
                              </button>
                              <div *ngIf="otpSend" class="flex flex-1 flex-column">
                                  <mat-form-field appearance="outline" class="margin-top-xs w-full">
                                    <input  id="mobileNumber" #otp type="password"
                                      matInput placeholder="Enter OTP" i18n-aria-label aria-label="OTP input" onKeyPress="if(this.value.length === 8) return false;" autocomplete="new-password">
                                    <mat-hint *ngIf="timeLeftforOTP > 0 ">
                                      <span>Resend OTP after {{timeLeftforOTP | pipeDurationTransform: 'hms2M'}}</span>
                                    </mat-hint>
                                    <mat-hint *ngIf="timeLeftforOTP <= 0 ">
                                      <!-- //NOSONAR --> <span class="cursor-pointer ws-mat-default-text" (click)="resendOTP()">Resend
                                        OTP</span>
                                    </mat-hint>
                                  </mat-form-field>
                                  <div class="flex flex-1 margin-top-s justify-end">
                                    <button mat-raised-button type="button" (click)="verifyOtp(otp)"
                                      class="submitBtnSmall text-white ws-mat-primary-background ws-mat-white-text margin-top-s otp"
                                      [disabled]="registrationForm?.mobile?.invalid || disableVerifyBtn">
                                      <span class="text-white" i18n>
                                        Verify OTP
                                      </span>
                                    </button>
                                  </div>
                              </div>
                            </div>
                          </div>
                         
                        <div class="input-wrapper margin-top-s">
                            <label for="group" class=" margin-remove-bottom form-label required"
                              i18n="Group | Label which explains the user to enter Group" i18n-aria-label
                              aria-label="Group Field label">
                              Group
                            </label>
                            <mat-form-field appearance="outline" class="margin-top-s w-full" id="group">
                              <input id="group" matInput tab-directive type="text" placeholder="Select your group"
                                i18n-placeholder="group" formControlName="group" [matAutocomplete]="groupAutocomplete"
                                i18n-aria-label aria-label="Group" #group i18n-aria-label aria-label="Group Field input" maxlength="50" />
                              <mat-error [hidden]="false" i18n="Group Error | Explains Group is required"
                                *ngIf="registrationForm?.controls['group'].errors?.required" i18n-aria-label
                                aria-label="Group is mandatory">
                                Group is mandatory
                              </mat-error>
                              <mat-error *ngIf="registrationForm?.controls['group'].errors?.forbiddenNames" i18n-aria-label
                                aria-label="You must enter value from suggested list only.">
                                You must enter value from suggested list only.
                              </mat-error>
                              <mat-error *ngIf="registrationForm?.controls['group'].errors?.pattern" i18n-aria-label
                                aria-label="You must enter value from suggested list only.">
                                Only alphabets, numbers, space and & - () are allowed.
                              </mat-error> 
                            </mat-form-field>
                            <mat-autocomplete #groupAutocomplete="matAutocomplete" autoActiveFirstOption="true" i18n-aria-label
                              aria-label="Group list masterGroup" [displayWith]="displayFnGroup">
                              <mat-option *ngFor="let option of masterGroup | async" [value]="option" i18n-aria-label
                                aria-label="Group list autocomplete option">
                                {{ option }}
                              </mat-option>
            
                              <mat-option class="custom bordered" *ngIf="(masterGroup | async)?.length === 0" [value]="">
                                <ng-container [ngTemplateOutlet]="onlynoResult" [ngTemplateOutletContext]="{type: 'Group'}">
                                </ng-container>
                              </mat-option>
                            </mat-autocomplete>
                          </div>
                        <div class="flex flex-1 flex-row content-center flex-wrap">
                            <div class="flex flex-1 input-wrapper margin-top-s">
                                <label for="type" class=" margin-remove-bottom form-label required"
                                    i18n="Department|Label which explains the user to enter Department" i18n-aria-label
                                    aria-label="Department Field label">
                                    Center/State
                                </label>
                                <mat-radio-group #type class="margin-top-s" formControlName="type" i18n-aria-label
                                    aria-label="Signup as">
                                    <mat-radio-button class="mat-radio-button radio-select" [value]="'ministry'">
                                        Center
                                    </mat-radio-button>
                                    <mat-radio-button class="mat-radio-button radio-unselect  margin-left-s"
                                        [value]="'state'">
                                        State
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>


                        <div class="flex flex-1 flex-col content-center flex-wrap">
                            <label for="organisation" class=" margin-remove-bottom form-label required"
                                i18n="Organisation label|Label which explains the user to enter Surname" i18n-aria-label
                                aria-label="Organisation label">
                                Organisation
                            </label>
                            <mat-form-field appearance="outline" class="margin-top-s w-full" [hidden]="hideOrg">
                                <mat-icon matPrefix class="search-home flex items-center justify-center">search</mat-icon>
                                <input matInput onfocus="this.select()" aria-label="organisation" [matAutocomplete]="auto" #organisation
                                    name="organisation" formControlName="organisation" i18n-placeholder placeholder="Search organisation"
                                    i18n-aria-label aria-label="Type here" required (keydown.enter)="searchOrgs($event.target.value)">
                                <!-- //NOSONAR --> <span matSuffix class="ws-mat-accent-text margin-xs cursor-pointer"
                                    (click)="searchOrgs(organisation.value)">Search</span>
                                <mat-error *ngIf="registrationForm?.controls['organisation'].errors?.pattern" i18n-aria-label
                                    aria-label="You must enter value from suggested list only.">
                                    Only alphabets, numbers, space, &, -, and () are allowed.
                                </mat-error>
                            </mat-form-field>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="orgClicked($event)" autoActiveFirstOption="true">
                                <ng-container *ngIf="searching">
                                    <mat-option [value]="" class="custom">
                                        <div class="p-4 w-full flex items-center justify-center">
                                            <mat-spinner [diameter]="30"></mat-spinner>
                                        </div>
                                    </mat-option>
                                </ng-container>
                                <ng-container *ngIf="(filteredOrgList || filteredOrgList?.length > 0 ) && resultFetched">
                                    <mat-option class=" custom bordered" *ngFor="let organisation of filteredOrgList " [value]="organisation">
                                        <ng-container [ngTemplateOutlet]="autocompleteCard"
                                            [ngTemplateOutletContext]="{organisation: organisation}">
                                        </ng-container>
                                    </mat-option>
                                </ng-container>
                                <mat-option class="custom bordered" *ngIf="(!filteredOrgList || !filteredOrgList?.length) && resultFetched"
                                    [value]="">
                                    <ng-container [ngTemplateOutlet]="noResult" [ngTemplateOutletContext]="{type: 'Organisation'}">
                                    </ng-container>
                                </mat-option>
                            </mat-autocomplete>
                            
                            <ng-container *ngIf="hideOrg">
                                <div class="orgBox margin-top-s px-4 py-3 relative">
                                    <div class="flex">
                                        <h3 class="mat-h2 margin-remove inline-block  flex-1">
                                            {{heirarchyObject?.orgName}}
                                        </h3>
                                        <!-- //NOSONAR --> <mat-icon matPrefix class="flex items-right justify-right cursor-pointer close-rounded"
                                            (click)="editOrg()">close</mat-icon>
                                    </div>
                                    <div class="flex flex-1 items-center flex-wrap text-left mat-body-2">
                                        <span *ngIf="heirarchyObject?.l1OrgName">Under &nbsp;</span>
                                        <span *ngIf="heirarchyObject?.l1OrgName">{{heirarchyObject?.l1OrgName}}</span>
                                        <span *ngIf="heirarchyObject?.l2OrgName"> <mat-icon matPrefix
                                                class=" flex items-center justify-center">navigate_next</mat-icon></span>
                                        <span *ngIf="heirarchyObject?.l2OrgName" class="flex-1">{{heirarchyObject?.l2OrgName}}</span>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="w-full" id="org-field">
                                <div class="flex items-center flex-1">
                                    <span class="flex-1 ws-mat-black60-text">Not found yet?</span>
                                    <a class="flex-1 ws-mat-accent-text text-right cursor-pointer font-bold"
                                        (click)="navigateTo('Organisation')"> Request for help</a>
                                </div>
                            </div>
                        
                            <ng-template #autocompleteCard let-organisation="organisation">
                                <div class="px-5 py-3">
                                    <div>
                                        <h3 class="mat-h3 margin-remove">
                                            {{organisation?.orgName}}
                                        </h3>
                                    </div>
                                    <div class="flex flex-1 items-center flex-wrap text-left mat-body-2">
                                        <span *ngIf="organisation?.l1OrgName">Under &nbsp;</span>
                                        <span *ngIf="organisation?.l1OrgName">{{organisation?.l1OrgName}}</span>
                                        <span *ngIf="organisation?.l2OrgName"> <mat-icon matPrefix
                                                class=" flex items-center justify-center">navigate_next</mat-icon></span>
                                        <span *ngIf="organisation?.l2OrgName" class="flex-1">{{organisation?.l2OrgName}}</span>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #noResult let-type="type">
                                <div class="flex-col text-center items-center justify-center px-6 py-3">
                                    <div class="mat-body-2 px-6">We couldn't find any matches for your search. </div>
                                    <div class="mat-body-2 padding-top-xs">
                                        <a class="flex-1 ws-mat-accent-text cursor-pointer font-bold" (click)="navigateTo(type)"> Request for
                                            help</a>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #onlynoResult let-type="type">
                                <div class="flex-col text-center items-center justify-center px-6 py-3">
                                    <div class="mat-body-2 px-6">We couldn't find any matches for your search.</div>
                                </div>
                            </ng-template>
                        </div>

                        <div class="flex flex-1 input-wrapper margin-top-s">
                            <div class="flex flex-middle">
                                <mat-checkbox aria-label="I confirm that the above provided information are accurate."
                                    id="confirm" name="confirm" [checked]="confirm" (change)="confirmChange()"
                                    i18n-aria-label
                                    aria-label="I confirm that the above provided information are accurate. checkbox"
                                    required>
                                    <label for="confirm" class="margin-remove-bottom mat-body-2 ws-mat-black60-text"
                                        i18n-aria-label
                                        aria-label="I confirm that the above provided information are accurate. checkbox label">
                                        I confirm that the above provided information is accurate.
                                    </label>
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="w-full margin-top-l">
                            <div class="button_box flex flex-col items-center justify-center">
                                <button mat-flat-button type="submit"
                                    class="submitBtn text-white ws-mat-primary-background ws-mat-white-text"
                                    (click)="signup()" [disabled]="!registrationForm?.valid || !confirm || disableBtn">
                                    Save and Next
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-container>
        </div>

    </div>
</div>