<div class="flex items-center mt-4">
    <div class="flex flex-row gap-2 cursor-pointer mat-subheading-1" [routerLink]="['/app/discussion-forum']" [queryParams]="{page: 'home'}">
        <div>Go to discuss hub</div>
        <mat-icon>
            chevron_right
        </mat-icon>
    </div>
</div>

<div class="flex gap-6 updates-on-posts">
    <div class="discussion-card flex-1 p-5" *ngIf="discussConfig?.updatePosts?.active">
        <ws-update-posts [updateConfig]="discussConfig?.updatePosts"></ws-update-posts>
    </div>

    <div class="discussion-card flex-1" *ngIf="discussConfig?.trendingDiscussions?.active">
        <div class="flex-1">
            <div class="flex flex-col p-5 gap-4 trending-discussion">
                <div class="flex flex-row gap-3 mat-subheading-1">
                    <div class="flex flex-grow">Trending discussions</div>
                </div>

                <ws-discussions [discussionObj]="discussion" [count]="3"></ws-discussions>

                <!-- <ng-container *ngIf="discussion.loadSkeleton">
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-3 discussion-card p-3" *ngFor="let item of [1, 2, 3]">
                            <ws-widget-skeleton-loader [bindingClass]="'flex rounded h-6'"></ws-widget-skeleton-loader>
                            <ws-widget-skeleton-loader [bindingClass]="'flex rounded h-6'"></ws-widget-skeleton-loader>
                            <div class="flex flex-row gap-5 justify-around">
                                <ws-widget-skeleton-loader [width]="'64px'" [height]="'48px'" [bindingClass]="'flex rounded h-8'"></ws-widget-skeleton-loader>
                                <ws-widget-skeleton-loader [width]="'64px'" [height]="'48px'" [bindingClass]="'flex rounded h-8'"></ws-widget-skeleton-loader>
                                <ws-widget-skeleton-loader [width]="'64px'" [height]="'48px'" [bindingClass]="'flex rounded h-8'"></ws-widget-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </ng-container>

                
                <ng-container *ngIf="!discussion.loadSkeleton">
                    <ng-container *ngIf="!discussion.data && !discussion.error">
                        <div class="flex flex-col items-center gap-4 p-10">
                            <img src="assets/icons/home/chat.svg" alt="chat img" />
                            <div class="text-sm text-center">Do you have any questions, suggestions or, ideas in your mind? Post it.
                            </div>
                            <button
                                class="bg-blue-700 text-sm font-semibold text-white py-3 px-5 rounded-full border-none cursor-pointer tracking-wide"
                                [routerLink]="['/app/discussion-forum']" [queryParams]="{page: 'home'}">Start discussion</button>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="discussion.data">
                        <div class="discussion-card" *ngFor="let data of this.discussion.data | slice:0:3">
                            <ws-discussion-info [dataToBind]="data"></ws-discussion-info>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="discussion.error">
                        <div class="flex flex-col items-center gap-3 p-10">
                            <mat-icon class="no-data-found">report_off</mat-icon>
                            <div class="mat-subheading-1">No data found!</div>
                            <div class="text-center">Unable to fetch discussion info due to some error.</div>
                        </div>
                    </ng-container>
                </ng-container> -->
            </div>
        </div>

        <div class="flex justify-center items-center p-4" *ngIf="!discussion.loadSkeleton && (!discussion.error || discussion.data)">
            <div class="flex gap-1 font-semibold cursor-pointer ws-mat-default-text" [routerLink]="['/app/discussion-forum']" [queryParams]="{page: 'home'}" >
                <div>Show all</div>
                <mat-icon>
                    chevron_right
                </mat-icon>
            </div>
        </div>
    </div>

</div>