.right-side-nav-items {
    display: inline-block;
    margin: 12px 0;
    padding-left: 1em !important;
}

::ng-deep .right-nav-tooltip {
  background-color: #000 !important;
  color: #fff !important;
  // height: 32px;
  border-radius: 4px;
  font-size: 14px;
  vertical-align: middle;
}

.right-side-nav-items li {
    display: inline-block;
    cursor: pointer;
}

.download-app-chip {
    border-radius: 63px;
    background: #F3962F;
    color: #fff;
    min-width: 99px;
    text-align: center;
    font-size: 14px;
    height: 32px;
    max-width: 124px;
    height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-app-chip span {
    padding: 8px 16px;
}


.download-app-chip:hover {
  background-color: #C37024;
}

.help-icon img{
  vertical-align: middle;
}
.langdiv {
  .mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after {
    color: rgba(0, 0, 0, 0.54) !important;
    top: 30%;
    right: 8%;
    margin-top: -2.5px;
  }
  .custom-lang {
    font: 400 14px/21px Lato;
    width: 126px;
    padding: 0 !important;
    position: relative;
  }
  ::ng-deep.mat-form-field-infix {
    padding: 0 0 0.6em 2.5em !important;
  }
  ::ng-deep.mat-form-field-flex {
    border: 1px solid rgba(0, 0, 0, 0.16) !important;
    border-radius: 16px !important;
  }
  img {
    position: absolute;
    left: 6%;
    top: -4px;
  }

  ::ng-deep.mat-select-arrow{
    margin: 0 14px 0 4px !important;
  }

  .checkmark::before {
    content:'L';
    font-family: arial;
    -ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
    -webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
    transform: scaleX(-1) rotate(-35deg);
    display:inline-block;
    vertical-align: top;
    line-height: 1em;
    width: 1em;
    color: rgb(27, 76, 161);
    height:1em;
    margin-left: 0.3em;
    text-align: center;
    position: absolute;
    left: 0;
  }
}

::ng-deep.mat-select-panel {
  margin-top: 3em !important;
  margin-left: -1em !important;
  max-height: 505px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


@media only screen and (max-width: 768px) {
    .help-icon {
      height: 20px;
      width: 20px;
      margin-top: 6px;
    }

    .download-app-chip {
      display: none !important;
    }
    .download-app-chip-top-header {
      border-radius: 63px;
      background: #F3962F;
      color: #fff;
      min-width: 129px;
      text-align: center;
      padding: 6px 16px;
      list-style: none;
    }

    .right-side-nav-items {
        display: inline-block;
        margin: 5px 0;
        // margin: 7px -7px;
    }
    
  }

// .karmapoints {
//   img {
//     margin-right: 4px;
//     vertical-align: top;
//     width: 28px;
//   }

//   .text{
//     font: 700 10px/12px Lato
//   }

//   .points{
//     color: rgb(27, 76, 161);
//     font-weight: 700 !important;
//   }
// }