<!-- <ul class="right-side-nav-items">
    <li class="download-app-chip" *ngIf="item.type === 'downloadButton'" (click)="openDialog()">
        <span>Download App</span>
    </li>
    <li *ngIf="item.type === 'fontButton'">
        <ws-font-setting></ws-font-setting>
    </li>
    <li class="help-icon" id="help-icon" *ngIf="item.type === 'helpButton'">
        <img src="/assets/icons/top-nav/help_icon.svg">
    </li>
    <li><ng-container *ngIf="item.type === 'widgetButton'" [wsResolverWidget]="item.config"></ng-container>
    </li>
</ul> -->

<ul class="right-side-nav-items">
    <ng-container *ngFor="let rnc of rightNavConfig">
        <li matTooltipClass="right-nav-tooltip" *ngIf="rnc.section === 'karmapoints' && rnc.active && item.type === 'karmapointtext'" class="karmapoints" (click)="viewKarmapoints()">
            <img src="/assets/icons/KPIcon.svg" alt="Karma Points">
            <div class="display-inline-block">
                <p class="margin-remove text">Karma Points</p>
                <p class="mat-body-2 margin-remove points">0</p>  
            </div>          
        </li>
        <li matTooltipClass="right-nav-tooltip" matTooltip="Download App" *ngIf="rnc.section === 'download' && rnc.active && item.type === 'downloadButton'" class="download-app-chip" (click)="openDialog()">
            <span class="mat-body-2">Download App</span>       
        </li>
        <li matTooltipClass="right-nav-tooltip" matTooltip="Font" *ngIf="item.type === 'fontButton' && rnc.section === 'font-setting' && rnc.active">
            <ws-font-setting></ws-font-setting>
        </li>
        <li matTooltipClass="right-nav-tooltip" matTooltip="Need Help" class="help-icon" id="help-icon" *ngIf="item.type === 'helpButton' && rnc.section === 'help' && rnc.active">
            <img  src="/assets/icons/top-nav/help_icon.svg">
        </li>
        <li matTooltipClass="right-nav-tooltip" matTooltip="Profile">
            <ng-container *ngIf="item.type === 'widgetButton' && rnc.section === 'profile' && rnc.active" [wsResolverWidget]="item.config"></ng-container>
        </li>
    </ng-container>
</ul>