<div class="text-center">
    <h2 class="mat-headline margin-remove-bottom ws-mat-black-text">
        Thank you for registering!
    </h2>
    <p class="margin-top-s padding-s mat-body-1 ws-mat-black60-text">
        Please check your registered email to activate your account.
    </p>
    <button mat-stroked-button type="submit" class="text-white ws-mat-primary-background flex-auto-display margin-top-s"
        (click)="closeDialog()">
        <span class="text-white" >Ok</span>
    </button>
</div>