<ng-container *ngIf="!showSkeleton; else noPortalData">
<mat-card class="mat-card pad-4 other-portal-box" *ngIf="portalLinks && portalLinks.length;">
    <p class="mat-subheading-1">{{ 'homeotherportals.otherPortals' | translate }}</p>
    <div class="flex flex-row items-center content-center portal-box" *ngFor="let wdata of portalLinks">
        <a class="flex flex-row items-center content-center" (click)="raiseTelemetry(wdata)" target="_blank" href="{{wdata.widgetData.actionBtn.url}}">
            <div class="icon-box margin-right-s flex items-center justify-center">
                <img src="{{wdata.widgetData.actionBtn.icon}}" alt="{{ translateLabels( wdata.widgetData.actionBtn.name, 'homeotherportals') }}">
            </div>
            <div class="flex flex-col card-text-box">
                <p class="mat-subheading-2 margin-remove-bottom" [attr.id]="wdata.widgetData.actionBtn.icon">
                    {{ translateLabels( wdata.widgetData.actionBtn.name, 'homeotherportals') }}
                </p>
                <p class="small-font margin-remove-bottom" *ngIf="wdata.widgetData.actionBtn.subtitle"> 
                    {{ translateLabels( wdata.widgetData.actionBtn.subtitle, 'homeotherportals') }}
                </p>
            </div>
        </a>
    </div>
</mat-card>
</ng-container>
<ng-template #noPortalData>
<mat-card class="mat-card pad-4 other-portal-box margin-top-m" >
    <p class="mat-subheading-1 margin-bottom-m flex"><ws-widget-skeleton-loader [width]="'150px'" [height]="'16px'" [bindingClass]="'flex rounded margin-bottom-xs'"></ws-widget-skeleton-loader></p>
    <div class="flex flex-row items-center content-center portal-box" *ngFor="let wdata of noPortal">
        <a class="flex flex-row items-center content-center" target="_blank">
            <div class="icon-box margin-right-s flex items-center justify-center">
                <ws-widget-skeleton-loader [width]="'75px'" [height]="'70px'" [bindingClass]="'flex rounded'"></ws-widget-skeleton-loader>
            </div>
            <div class="flex flex-col card-text-box">
                <p class="mat-subheading-2 margin-remove-bottom">
                    <ws-widget-skeleton-loader [width]="'100px'" [height]="'16px'" [bindingClass]="'flex rounded h-16 margin-bottom-xs'"></ws-widget-skeleton-loader>
                </p>
                <p class="small-font margin-remove-bottom">
                    <ws-widget-skeleton-loader [width]="'200px'" [height]="'16px'" [bindingClass]="'flex rounded h-16'"></ws-widget-skeleton-loader>
                </p>
            </div>
        </a>
    </div>
</mat-card>
</ng-template>