<!-- <div class="social-icons">
    <ul>
      <li><a href="https://www.linkedin.com/company/karmayogi-bharat/" target="_blank"><img alt="Linkedin" class="app-logo"
        src="/assets/icons/social-links/linkedin.svg"></a></li>

      <li><a href="https://x.com/iGOTKarmayogi?t=OUEVuskmXbrTNdPuIBaHuw&s=09" target="_blank"><img alt="Twitter" class="app-logo"
        src="/assets/icons/social-links/Combined Shape.svg"></a></li>

      <li><a href="https://instagram.com/karmayogibharat?igshid=MzRlODBiNWFlZA==" target="_blank"><img alt="Instagram" class="app-logo"
        src="/assets/icons/social-links/instagram.svg"></a></li>

      <li><a href="https://www.facebook.com/profile.php?id=100089782863897&mibextid=ZbWKwL" target="_blank"><img alt="Facebook" class="app-logo"
        src="/assets/icons/social-links/facebook.svg"></a></li>

      <li><a href="https://youtube.com/@karmayogibharat?feature=shared" target="_blank"><img alt="Youtube" class="app-logo"
          src="/assets/icons/social-links/youtube.svg"></a></li>
    </ul>
  </div> -->
  <div class="social-icons">
    <ul>
      <li *ngFor="let item of socialLinks?.socialLinks">
        <a [href]="item?.url" target="_blank">
          <img [alt]="item?.alt" class="app-logo" src="/assets/icons/social-links/{{item?.icon}}.svg">
        </a>
      </li>
    </ul>
  </div> 