<div style="width:100%;background-color: #fff;">
    <div class="dialog-close" *ngIf="!isMobile" (click)="closePopup()"><img alt="" src="assets/icons/home/decline_icon.svg" type="button"></div>
    <div [ngClass]="popupClass === 'download-app-popup' ? 'download-app-popup' : 'download-app'" *ngIf="!isMobile">
        <ng-container>
            <div class="left-side">
                <h2>Download</h2>
                <div>
                    <p class="main-heading">iGOT Karmayogi <span class="sub-heading">Mobile App</span></p>
                </div>
                <div class="description">
                    <p>Experience Lifelong Learning Anytime, Anywhere, and Through Any Device!</p>
                </div>
                <div class="app-store-button">
                    <div class="play-store">
                        <div><img src="/assets/icons/footer-nav/gplay badge@2x.svg" /></div>
                        <div><img src="/assets/icons/footer-nav/qrcode@2x.svg" /></div>
                        <p>Scan To Download</p>
                    </div>
                    <div class="app-store">
                        <div><img src="/assets/icons/footer-nav/appStore.svg" /></div>
                        <div><img src="/assets/icons/footer-nav/Group 2@2x.svg" /></div>
                        <p>Scan To Download</p>
                    </div>
                </div>
            </div>
            <div class="right-side">
                <div class="circle flex items-center justify-center">
                    <div class="vertical-image">
                        <img src="/assets/icons/footer-nav/mockup@2x.svg" />
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class='mobile-download' *ngIf="isMobile">
        <div class="right-side">
            <div class="circle">
                <div class="vertical-image">
                    <img src="/assets/icons/footer-nav/mockup@2x.svg" />
                </div>
            </div>
        </div>
        <ng-container>
            <div class="left-side">
                <h2>Download</h2>
                <div>
                    <p class="main-heading">iGOT Karmayogi <span class="sub-heading">Mobile App</span></p>
                </div>
                <div class="description">
                    <p>Experience Lifelong Learning Anytime, Anywhere, and Through Any Device!</p>
                </div>
                <div class="app-store-button">
                    <div class="play-store">
                        <div><img src="/assets/icons/footer-nav/gplay badge@2x.svg" /></div>
                        <div><img src="/assets/icons/footer-nav/qrcode@2x.svg" /></div>
                        <p>Scan To Download</p>
                    </div>
                    <div class="app-store">
                        <div><img src="/assets/icons/footer-nav/appStore.svg" /></div>
                        <div><img src="/assets/icons/footer-nav/Group 2@2x.svg" /></div>
                        <p>Scan To Download</p>
                    </div>
                </div>

            </div>
            
        </ng-container>
    </div>
<div>