.default-info {
  .default-icon {
    width: 60px;
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
  .default-msg{
    background-color: rgba(0,0,0, 0.04);
    border: 1px solid rgba(0,0,0, 0.16);
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.default-user-info {
  .default-user-icon {
    float: right;
    display: flex;
    flex-wrap: wrap;
  }
  .user-msg{
    background-color: #1B4CA1;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    color: white;
    float: right;
  }
}

.hints-left {
  margin-left: 60px;
  font-weight: 600;
}
.list-left {
  margin-left: 60px;
}

.btn-cover {
  display: flex;
  flex-wrap: wrap;
}
.my-5px {
  margin-top: 5px;
  margin-bottom: 5px
}
.mr-5px {
  margin-right: 5px
}
.btn-default {
  background: #fff;
  border: 1px solid rgba(0,0,0, 0.16);
  color: black;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
.btn-show-more, .btn-show-less {
  background: #1B4CA1;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 40px;
}
.showmore-icon {
  align-items: flex-start;
}

.right-section {
  align-items: center;
  justify-content: flex-end;
}
.btn-active{
  background: #1B4CA1;
  border: 1px solid rgba(0,0,0, 0.16);
  color: white;
}

.active-question {
  color: #1B4CA1;
}
