<ng-container>
  <div class="flex flex-wrap">
    <div class="default-info">
      <div class="default-icon">
        <img alt="chatbot-icon" src="/assets/icons/chatbot-default.png">
      </div>
      <div class="default-msg padding-xs">
        Hi, Venkat, I'm KarmaSahayogi - Digital Assistant, I'm here to help you.
      </div>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="hints padding-xs">
      Here are the most frequently asked questions users have looked for
    </div>
    <div class="list btn-cover my-5px">
      <div class="my-5px mr-5px"*ngFor="let question of defaultQuestions" >
        <div class="btn-default">{{question}}</div>
      </div>
      <div class="my-5px mr-5px">
        <div class="btn-show-more">
          + &nbsp; show more</div>
      </div>
    </div>
  </div>
</ng-container>
