@import "ws-vars";
@import "ws-common";

.container-balanced {
  max-width: 1202px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.faq_main_box {
  padding: 45px 8px 0 8px;

  @include breakpoint-xs {
    padding: 45px 0;
  }
}

.height-on-top {
  padding-top: 56px;
}

h2.main_title_text {
  font-weight: 600 !important;
}

.full_width_box {
  width: 100%;
}

.flex-4 {
  flex: 4;
}

.faq_left_panel {
  width: 175px;

  @include breakpoint-xs {
    display: none;
  }

  @include breakpoint-s {
    display: none;
  }
}

.faq_right_panel {
  margin-left: 30px;

  @include breakpoint-xs {
    margin-left: 0px;
    margin-top: 40px;
  }

  @include breakpoint-s {
    margin-left: 0px;
    margin-top: 54px;
    padding: 0px 8px;
  }
}

.search_faq_form {
  width: 100%;
}

.ws-active-route-menu:before {
  left: 0 !important;
  border-width: 0 0 0 4px;
}

.openbtn {
  // display: inline;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 16px;
  font-size: 22px;
  background-color: var(--white);
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.1);
  color: var(--blue);
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
  display: none;

  @include breakpoint-xs {
    display: inline;
  }

  @include breakpoint-s {
    display: inline;
  }
}

.overlay-sidebar {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, .4);
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: inline;
  z-index: 999;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25, .8, .25, 1);
  transition-property: background-color, visibility;

  @include breakpoint-xs {
    top: 0px;
  }
}

.overlay-sidebar__menu {
  position: relative;
  top: 0;
  height: 100%;
  width: 15rem;
  right: 0;
  z-index: 100000;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--light-gray);
  color: rgba(0, 0, 0, .87);
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, 1);
}

.closebtn {
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.mat-expansion-panel {
  height: auto;
}

.mat-expansion-panel-header {
  @include breakpoint-xs {
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1.4;
    min-height: 55px;
    height: auto;
  }

  // @include breakpoint-s {
  //   margin: 0 $size-l 0 $size-l;
  // }
}


.margin-fix {
  @include breakpoint-xs {
    margin: 0 $size-l 0 $size-l;
  }

  @include breakpoint-s {
    margin: 0 $size-l 0 $size-l;
  }
}

.custom {

  @include breakpoint-xs {
    flex-direction: column;
  }

  @include breakpoint-s {
    flex-direction: column;
  }
}

.flex-3 {
  flex: 3;
}

.mob {
  @include breakpoint-xs {
    bottom: 0 !important;
    position: unset !important;
  }
}

.sticky {
  position: sticky;
  top: calc(#{$mat-toolbar-gt-xs});
  overflow: hidden;
  // z-index: 10;
  // width: 100%;
}

.page-title {
  margin-bottom: $size-xl;
}

.contact-card {
  margin-bottom: $size-m;
}

.contact-card-actions {
  text-align: right;
}

.contact-info {
  // padding: 16px 64px;
  padding: 0;
  text-align: center;

  @include breakpoint-xs {
    padding: 8px 8px;
  }
}

.faq-img-section {
  // padding: 16px 0px 16px 16px;
  padding: 0;

  @include breakpoint-xs {
    padding: 8px 8px;
  }

  .info-section {
    width: 100%;

    @include breakpoint-xs {
      width: 100%;
    }
  }

  .contact-section {
    width: 47%;

    @include breakpoint-xs {
      width: 100%;
    }
  }
}

::ng-deep.mat-form-field-underline {
  background-color: transparent !important;
  height: 0 !important;
}