@import "ws-vars";
@import "ws-common";

.container-balanced {
  max-width: 1202px;
  margin-left: auto !important;
  margin-right: auto !important;
}
h2.main_title_text {
  font-weight: 600!important;
}
.full_width_box {
  width: 100%;
}
.flex-4 {
  flex: 4;
}
.ws-active-route-menu:before {
  left:0!important;
  border-width: 0 0 0 4px;
}
.margin-fix {
  @include breakpoint-xs {
    margin: 0 $size-l 0 $size-l;
  }

  @include breakpoint-s {
    margin: 0 $size-l 0 $size-l;
  }
}
.custom {

  @include breakpoint-xs {
    flex-direction: column;
  }

  @include breakpoint-s {
    flex-direction: column;
  }
}
.flex-3 {
  flex: 3;
}
.mob {
  @include breakpoint-xs {
    bottom: 0 !important;
    position: unset !important;
  }
}
.sticky {
  position: sticky;
  top: calc(#{$mat-toolbar-gt-xs});
  overflow: hidden;
  // z-index: 10;
  // width: 100%;
}
.page-title {
  margin-bottom: $size-xl;
}

.contact-card {
  margin-bottom: $size-m;
}
.contact-card-actions {
  text-align: right;
}

.contact-info {
  // padding: 16px 64px;
  padding: 16px 0px 16px 16px;
  text-align: center;

  @include breakpoint-xs {
    padding: 8px 16px;
  }
}

.faq-img-section {
  padding: 16px 0px 16px 16px;

  @include breakpoint-xs {
    padding: 8px 16px;
  }

  .info-section {
    width: 100%;

    @include breakpoint-xs {
      width: 100%;
    }
  }

  .contact-section {
    width: 47%;

    @include breakpoint-xs {
      width: 100%;
    }
  }
}
