<div class="box w-full height-on-top">
  <ws-widget-btn-page-back
    [widgetData]="{ url: 'home',titles:[{title:'btnpageback.frequentlyAskedQuestions' | translate,url:'none'}] }">
  </ws-widget-btn-page-back>
</div>
<div class="container-balanced">

  <div class="flex flex-1 custom faq_main_box">
    <div class="flex-3">

      <div class="flex flex-4 flex-column">
        <div class="flex flex-1 custom">
          <!-- <div class="flex-1" style="position: relative;"> -->
          <div class="faq_left_panel" style="position: relative;">
            <div #stickyMenu [class.sticky]="sticky">
              <ws-widget-left-menu [widgetData]="tabsData"></ws-widget-left-menu>
            </div>
          </div>

          <button type="button" class="openbtn" (click)="showMenuButton()">☰</button>
                <div class="overlay-sidebar" *ngIf="!showSideMenu">
                  <div class="overlay-sidebar__menu">
                    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                    <div #stickyMenu [class.sticky]="sticky">
                      <ws-widget-left-menu [widgetData]="tabsData"></ws-widget-left-menu>
                    </div>
                  </div>
                </div>

          <!-- right section ---->
          <div class="faq_right_panel flex-3">
            <div class="contact-info margin-top-m ws-mat-primary-lite-background"
              *ngIf="contactPage.title || contactPage.description">
              <h2 class="flex mat-display-1 main_title_text margin-bottom-xl" *ngIf="contactPage.title">
                <!-- <mat-icon>contact_support</mat-icon> -->

                  {{translateLabels(contactPage.title, 'faq')}}

              </h2>

              <form class="flex-1">
                <mat-form-field appearance="outline" class="margin-bottom-xl autocomplete-form search_faq_form" color="primary" >
                  <mat-icon matPrefix class="search-home flex items-center justify-center">search</mat-icon>
                  <input  [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" type="search" class="ml-2" i18n-placeholder="search content"
                      placeholder="{{'faq.searchPlaceholder' | translate }}" i18-aria-label aria-label="Query" matInput />
                </mat-form-field>
              </form>

              <!-- <p class="text-justify py-4" *ngIf="contactPage.description">
                {{contactPage.description}}
              </p> -->
            </div>

            <div class="faq-img-section flex flex-wrap flex-between items-stretch"
              *ngIf="contactPage && contactPage?.help && contactPage?.help?.length && contactPage?.help?.length > 0" >
              <ng-container *ngFor="let chelp of contactPage.help  | filterSearch : searchText">
                <div [attr.id]="chelp.fragment" class="info-section margin-bottom-xl" [ngClass]="{ 'width-1-1': true}">
                  <h3 class="flex flex-middle margin-remove">
                    <!-- <mat-icon *ngIf="chelp.icon">{{ chelp.icon}}</mat-icon> -->
                    <span class="mat-title">{{translateLabels(chelp.title, 'faq')}}
                    </span>
                  </h3>
                  <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                      *ngFor="let helpContent of chelp.contents">
                      <mat-expansion-panel-header>
                        <mat-panel-description>
                          <p class="margin-remove">{{translateLabels(helpContent.heading, 'faq')}}</p>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p class="margin-remove">
                        <ng-container>
                         <p class="mat-body-2" [innerHTML]="translateLabels(helpContent.value, 'faq') | pipeSafeSanitizer: 'html'"> </p>
                        </ng-container>
                      </p>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </ng-container>
            </div>

            <!-- <ng-template #notFound>
              <div class="margin-xl text-center ng-star-inserted">
                <img alt="No results" class="margin-top-l margin-bottom-s" src="/assets/common/error-pages/empty_search.svg" wsutilsimageresponsive="">
                <h2 class="mat-h2" > No results found</h2>
                <h3 class="mat-h3" > Try removing the filters or search using different keywords</h3>
              </div>
            </ng-template> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
