<div class="margin-top-m">
    <ws-widget-profile-card-stats (expandCollapse)="expandCollapse($event)"
    (activity)="goToActivity($event)" [profileData]="homePageData.profileCard"
        [insightsData]="insightsData" [isLoading]="profileDataLoading"></ws-widget-profile-card-stats>
</div>
<section class="hidden md:block" style="position: relative;" [ngClass]="{'padding-top-m':!collapsed, 'margin-bottom-m': collapsed}">
    <div class="margin-bottom-m" class="collapsible" [@collapseWeekly]="collapsed">
        <ws-widget-weekly-claps [insightsData]="insightsData" [weeklyData]="homePageData.weeklyClaps" [isLoading]="clapsDataLoading"></ws-widget-weekly-claps>
    </div>
    <section class="collapsible" [@collapsDiscuss]="collapsed" [ngClass]="{'padding-top-m':!collapsed}" *ngIf="!discussion?.error">
        <div class="flex flex-col discussion-card " >
            <div class="flex mat-subheading-1 p-4">
                <div class="flex flex-row gap-1 mat-subheading-1 cursor-pointer feed-title" (click)="navigate(); raiseTelemetry('my-discussions')">
                    My Discussions
                    <mat-icon class="ws-mat-default-text mr-3 mat-icon notranslate material-icons mat-icon-no-color feed-title-icon">
                        chevron_right
                    </mat-icon>
                </div>
            </div>
            <ng-container>
                <ws-widget-discussions [discussion]="discussion" [count]="2" ></ws-widget-discussions>
            </ng-container>
        </div>
    </section>
    <section class="collapsible" [@collapse]="collapsed" [ngClass]="{'padding-top-m margin-bottom-m':!collapsed}">
        <ws-widget-pending-request  [pendingRequestData]="pendingRequestData" [isLoading]="pendingRequestSkeleton"></ws-widget-pending-request>
    </section>
    <div class="empty-div margin-bottom-xl" *ngIf="collapsed">
        <div class="empty-div2 margin-bottom-m"  *ngIf="!discussion?.error">

        </div>
    </div>
    <div class="flex flex-col" >
        <ws-home-other-portal></ws-home-other-portal>
    </div>
</section>