.margin-top-m {
    margin-top:32px;
}

.collapsible {
    overflow: hidden;
}
.empty-div {
    width: 90%;
    margin-left: 16px;
    margin-right: 16px;
    background: white;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(0,0,0, 0.08);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    border-top: none;
    position: relative;
}
.empty-div2 {
    width: 90%;
    margin-left: 16px;
    margin-right: 16px;
    height: 10px;
    z-index: 42;
    border-top: none;
    position: absolute;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(0,0,0, 0.08);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    top: 10px;
}

.assessments-info-wrapper {
    border-radius: 12px;
    border: 1px solid rgba(0,0,0, 0.08);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    padding: 16px;

    .upcoming-assessment-title {
        opacity: 1;
        color: rgba(0, 0, 0, 0.87);
        font-family: "Montserrat-SemiBold";
        font-size: 1rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.12px;
        text-align: left;
        line-height: 24px
    }
}

.cred-container {
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,.08);
    opacity: 1;
    background: #dce0e4;
    padding: 24px 16px 8px;
    position: relative;
    top: -20px;
}
.cred-title {
    opacity: 1;
    color: #1b4ca1;
    font-family: Lato-Regular;
    font-size: .825rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .25px;
    text-align: center;
    line-height: 20px;
}
.copy-icon {
    font-size: 16px!important;
}

.copy-items {
    background-color: #a29d9d45;
    padding: 5px 10px;
    width: 100%;
    border-radius: 7px;
}
