.discussion-card {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);

    .mat-subheading-1 {
        margin: 0px !important;
    }
}

.error-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
}

.margin-top-m {
    margin-top:32px;
}

.initial-circle {
    font-size: 10px;
    padding: 7px;
}
.collapsible {
    overflow: hidden;
}

.network-pending-requests-container {
    background-color: #DEE6F2;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.pending-request-heading {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    font-size: 14px;
}

.arrow img{
    vertical-align: middle;
}

.pending-request-thumbnails ul {
    display: flex;
    margin: 0;
}

.pending-request-thumbnails ul li{
    list-style: none;
    border: 1px solid rgb(209, 57, 36);
    border-radius: 50%;
    background: rgb(209, 57, 36);
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    height: 24px;
    width: 24px;
    text-align: center;
    margin-left: -10px;
}

.pending-request-counts {
    margin-left: 32px;
    font-size: 14px;
    color: rgb(27, 76, 161);
    font-weight: 700;
}

.pending-dot {
    background-color: rgb(209, 57, 36);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top:-3px;
    right:-1px;

}

@media (max-width : 768px) {    
    .discussion-card {
        width: 100%;
    }
}