.discussion-card {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);

    .mat-subheading-1 {
        margin: 0px !important;
    }
}

.initial-circle {
    font-size: 10px;
    padding: 7px;
}


@media (max-width : 768px) {    
    .discussion-card {
        width: 100%;
    }
}