<app-tour *ngIf="loggedinUser && !showTour && !disableHeightOnTop"></app-tour>
<app-no-connection></app-no-connection>
<mat-progress-bar mode="indeterminate" color="warn" class="route-change" *ngIf="routeChangeInProgress">
</mat-progress-bar>
<!-- <p class="skipnav">
  <a href="javascript:void(0);" (click)='skipToMainContent()' translate>
    Skip to main content
  </a>
</p> -->
<!-- <ws-app-public-nav-bar *ngIf=""></ws-app-public-nav-bar> -->
<!-- <ws-widget-sticky-header> -->
<!-- <ws-app-nav-bar class="top-nav-bar" *ngIf="navBarRequired && (isXSmall$ | async) === false" [hidden]="!isShowNavbar" [mode]="'top'"></ws-app-nav-bar> -->
<ws-header *ngIf="navBarRequired && !hideHeaderAndFooter" [hidden]="!isShowNavbar" [mode]="'top'" [headerFooterConfigData]="headerFooterConfigData" [showHubs]="showHubs">
</ws-header>
<!-- </ws-widget-sticky-header> -->
<div class="height-adjust" [ngClass]="{
  'height-on-bottom custom-scroll':
    (isXSmall$ | async) === true &&  true && isShowNavbar,
    'height-adjust-setup' : isSetupPage,
  'height-on-top':
    (isXSmall$ | async) === false &&
    isShowNavbar &&
    navBarRequired &&
    !isCustomHeight && !hideHeaderAndFooter && !disableHeightOnTop,
  'height-on-top-not-valid-user': (isXSmall$ | async) === false && disableHeightOnTop
}">

  <div class="abc" [ngClass]="{'margin186': mobileTopHeaderVisibilityStatus && showHubs, 'mt-0': !mobileTopHeaderVisibilityStatus && showHubs, 'mt-136': mobileTopHeaderVisibilityStatus && !showHubs && !viewerPage && !hideHeaderAndFooter, 'mt-4': !mobileTopHeaderVisibilityStatus && !showHubs && !viewerPage }">
    <router-outlet></router-outlet>
  </div> 
</div>

<!-- <ws-app-footer class="app-footer" [ngClass]="{ 'padding-bottom: 56px': !isSetupPage}" *ngIf="showNavbar"></ws-app-footer> -->
<ws-app-chatbot *ngIf="!hideHeaderAndFooter"></ws-app-chatbot>
<ws-app-footer class="app-footer" *ngIf="showNavbar && showFooter && headerFooterConfigData && !hideHeaderAndFooter" [headerFooterConfigData]="headerFooterConfigData">
</ws-app-footer>

<ws-app-nav-bar class="bottom-nav-bar" [hidden]="!isShowNavbar || !showBottomNav" *ngIf="navBarRequired && (isXSmall$ | async) === true && !hideHeaderAndFooter"
  [mode]="'bottom'">
</ws-app-nav-bar>

<ng-container #previewContainer></ng-container>
<input #appUpdateTitle type="hidden" i18n-value value="App Update" />
<input #appUpdateBody type="hidden" i18n-value value="App has been updated. Do you want to load new version?" />
<div #skipper tabindex="-1"></div>
