<div class="main_container flex flex-row" style=" background: url(assets/instances/eagle/banners/home/9/Login_background.png) no-repeat center center fixed;">
  <div class="left_container flex flex-col items-center justify-center">
    <div class="logo_box flex items-center">
      <img src="/assets/instances/eagle/app_logos/dopt_logo.png" alt="logo" class="logo_img">
    </div>

    <div class="slideshow-container">

       <div class="mySlides">
        <img src="/assets/instances/eagle/app_logos/Hexagon.png" alt="karmayogi">
        <!-- <img src="/assets/instances/eagle/app_logos/card3.png" alt="slide 1"> -->

      </div>

      <!-- <div class="mySlides">

        <img src="/assets/instances/eagle/app_logos/Hexagon.png" alt="slide 2">

      </div> -->







      </div>
      <br>

      <!-- <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>

      </div> -->
  </div>
  <div class=" right_container flex flex-col items-center justify-center">
    <div class="right_inner_container">
      <div class="right_logo_box right_logo_box flex items-center justify-center">
        <img src="/assets/instances/eagle/app_logos/iGOT_Karmayogi_logo_with_karmayogi_bharat.png" alt="logo">
      </div>
      <div class="text_box flex items-center justify-center">
        <h2 class="mat-h2"> Welcome to iGOT Karmayogi!</h2>
      </div>
      <div class="button_box flex flex-col items-center justify-center">
        <button class="button m_b_2" (click)="login()">Click here to login </button>
        <!-- <button class="button m_b_2">Login to MDO portal</button> -->
      </div>
    </div>

  </div>
</div>
