<div class="main_container flex flex-row">
  <div class="left_container flex flex-col items-center justify-center">
    <div class="logo_box flex items-center">
      <img src="/assets/instances/eagle/app_logos/KarmayogiBharat_Logo_Horizontal.svg" alt="logo">
    </div>
    <div class="slider_box items-center flex">
      <img class="width-1-1" src="/assets/instances/eagle/banners/home/1/s.jpg" alt="slider1">
    </div>
  </div>
  <div class=" right_container flex flex-col items-center justify-center">
    <div class="right_inner_container">
      <div class="right_logo_box">
        <img src="/assets/instances/eagle/app_logos/KarmayogiBharat_Logo_Horizontal.svg" alt="logo">
      </div>
      <div class="text_box flex items-center justify-center">
        <h1 class="text-3xl"> You are logged out!</h1>
      </div>
      <div class="button_box flex flex-col items-center justify-center">
        <button class="button m_b_2" (click)="login()">Login to portal</button>
        <!-- <button class="button m_b_2">Login to MDO portal</button> -->
      </div>
    </div>

  </div>
</div>