
@import 'ws-mixins';

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff!important;
  @include breakpoint-xs {
    flex-direction: column;
  }
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-family: lato;
  font-size: 14px !important;
  color: #000000;
}

.logo-dim img{
  height: 32px;
}

.copyright-content {
  display: inline-block;
  margin: 26px 0 16px 0;
}

.copyright-logo {
  display: inline-block;
  vertical-align: middle;
}

.copyright {
  display: inline-block;
  margin-left: 40px;

}

.top_footer_box {
  padding: 45px 0;
  background: #1B2133;

   .top_footer_inner {
      max-width: 1202px;
      margin-left: auto!important;
      margin-right: auto!important;

      img.footer_logo {
        // height: 32px;
        width: 120px;
        background: #fff;
        border-radius: 2px 2px;
        padding: 6px 12px;
      }
  }



  .footer_heading {
    color: rgba(255, 255, 255, 0.95);
  }
  .footer_sub_text {
    color: rgba(255, 255, 255, 0.7)!important;
    background-color: transparent;
    margin-bottom: 12px;
  }
  a.feedback_link {
    color: #68BDFF;
    text-decoration: underline!important;
  }
}


.social-icons {
  
}

.social-icons ul {
  display: inline-block;
  padding: 0;
}

.social-icons ul li:first-child {
  display: inline-block;
  margin-left: 0;
} 

.social-icons ul li {
  display: inline-block;
  margin-left: 16px;
}

@media only screen and (max-width: 768px) {

  .top_footer_box {
    padding: 45px 8px!important;


    .top_footer_inner  {
      flex-direction: column!important;
      div {
        margin-bottom: 16px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {

  .top_footer_box {
    padding: 45px 16px!important;



    .top_footer_inner  {
      width: 100%;
      max-width: 100%;
      // div {
      //   margin-bottom: 16px;
      // }
    }
  }
}
