
@import 'ws-mixins';

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff!important;
  @include breakpoint-xs {
    flex-direction: column;
  }
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-family: lato;
  font-size: 14px !important;
  color: #000000;
}

.logo-dim img{
  height: 32px;
}

.copyright-content {
  display: inline-block;
  margin: 26px 0 16px 0;
}

.copyright-logo {
  display: inline-block;
  vertical-align: middle;
}

.copyright {
  display: inline-block;
  margin-left: 40px;

}

.top_footer_box {
  padding: 45px 0;
  background: #1B2133;

   .top_footer_inner {
      max-width: 1202px;
      margin-left: auto!important;
      margin-right: auto!important;

      img.footer_logo {
        // height: 32px;
        width: 120px;
        background: #fff;
        border-radius: 2px 2px;
        padding: 6px 12px;
      }
  }



  .footer_heading {
    color: rgba(255, 255, 255, 0.95);
  }
  .footer_sub_text {
    color: rgba(255, 255, 255, 0.7)!important;
    background-color: transparent;
    margin-bottom: 12px;
  }
  a.feedback_link {
    color: #68BDFF;
    text-decoration: underline!important;
  }
}

@media only screen and (max-width: 768px) {

  .top_footer_box {
    padding: 45px 8px!important;


    .top_footer_inner  {
      flex-direction: column!important;
      div {
        margin-bottom: 16px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {

  .top_footer_box {
    padding: 45px 16px!important;



    .top_footer_inner  {
      width: 100%;
      max-width: 100%;
      // div {
      //   margin-bottom: 16px;
      // }
    }
  }
}

.nav-footer ul  {
  padding:0;
  margin:0;
}
.nav-footer ul li {
  margin-bottom: 12px;
  list-style: none;
}

.app-store-button {
  display: none;
}

.footer_logo {
  display: none;
}

@media (max-width : 768px) {
.app-store {
  margin-left: 30px;
}
.footer_logo {
  display: block;
}
.footer_logo img {
  
  width: 134px;
  height: 44px;
  margin-bottom: 12px;
  background: #fff;
  padding: 4px;
  border-radius: 2px;
}
.app-store-button {
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}
.nav-footer .nav h4 { 
  cursor: pointer; 
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(255,255,255,0.16);
  padding-bottom: 8px;
  }
.nav-footer ul { 
  max-height: 0; 
  overflow:hidden; 
  transition: max-height 1s ease-out; }

  .nav-footer .nav h4:after { 
    content: "▼";
    width: 25px;
    float: right;
    color: rgba(255,255,255,0.7); 
  }
 
.nav-footer .nav.open h4:after { 
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath d='M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z'%3E%3C/path%3E%3C/svg%3E");
   width: 25px;
  }

  .nav-footer .nav.open ul { 
  height:auto;  
  transition: max-height 1s ease-in !important; }
}