<div class="top_footer_box">
    <div class="top_footer_inner flex flex-row justify-between">
      <div class="flex flex-col justify-start">
        <p class="footer_heading mat-subheading-1 margin-bottom-m">Hubs</p>

        <ng-container *ngFor="let hub of hubsList">
          <ng-container *ngIf="hub.hubname == 'Discuss'">
            <a  class="footer_sub_text mat-body cursor-pointer" (click)="navigate()">{{hub.hubname}}</a>
          </ng-container>
          <ng-container *ngIf="hub.hubname != 'Discuss'">
            <a class="footer_sub_text mat-body cursor-pointer" [routerLink]="hub.path">{{hub.hubname}}</a>
          </ng-container>
        </ng-container>
        <!-- <a class="footer_sub_text mat-body" href="/page/learn"  [routerLink]="hub.path">Learn</a>
        <a class="footer_sub_text mat-body" href="/app/network-v2"  [routerLink]="hub.path">Network</a>
        <a class="footer_sub_text mat-body" (click)="navigate()">Discuss</a>
        <a  class="footer_sub_text mat-body"  href="/app/careers/home"  [routerLink]="hub.path">Careers</a>
        <a  class="footer_sub_text mat-body" href="/app/competencies"  [routerLink]="hub.path">Competencies</a>
        <a  class="footer_sub_text mat-body" href="/app/event-hub"  [routerLink]="hub.path">Events</a> -->
      </div>

      <div class="flex flex-col justify-start">
        <p class="footer_heading mat-subheading-1 margin-bottom-m">Related links</p>
        <a class="footer_sub_text mat-body" [attr.href]="environment.mdoPortal" target="_blank">MDO portal</a>
        <a class="footer_sub_text mat-body" [attr.href]="environment.cbpPortal" target="_blank">CBP portal</a>
        <a class="footer_sub_text mat-body" [attr.href]="environment.fracPortal" target="_blank">FRAC dictionaries</a>
        <!-- <a class="footer_sub_text mat-body">Mobile application</a> -->
      </div>

      <div class="flex flex-col justify-start">
        <p class="footer_heading mat-subheading-1 margin-bottom-m">Support</p>
        <a class="footer_sub_text mat-body" routerLink="/public/faq"> Frequently asked questions</a>
        <a class="footer_sub_text mat-body" routerLink="/app/info/feedback">Feedback and suggestions</a>
        <a class="footer_sub_text mat-body" routerLink="/app/info/report-problem">Report a problem</a>

      </div>

      <div class="flex flex-col justify-start">
        <p class="footer_heading mat-subheading-1 margin-bottom-m">About us</p>
        <a class="footer_sub_text mat-body" rel="noreferrer" href="https://dopttrg.nic.in/igotmk/" target="_blank">Mission Karmayogi</a>
        <a class="footer_sub_text mat-body" href="" target="_blank"> Karmayogi Bharat</a>
        <a class="footer_sub_text mat-body">Capacity building commission</a>

        <img alt="igot-logo" src="/assets/images/banners/iGOT_logo_dark.svg" class="footer_logo margin-top-xl">


      </div>

    </div>
</div>


<div class="mat-toolbar mat-ws-mat-primary-text footer-container px-6 sm:px-10 py-5">
  <div class="mat-body text-center flex-1">
    <ng-container i18n>
      <span i18n>&copy; Copyright 2021-2022</span>
      <!-- &nbsp;&nbsp; | &nbsp;&nbsp;
      <a routerLink="/app/info/about" i18n> <span i18n>About Us</span></a>
      &nbsp;&nbsp; | &nbsp;&nbsp;
   <a routerLink="/app/info/feedback" i18n> <span i18n>Feedback</span></a>
      &nbsp;&nbsp; | &nbsp;&nbsp; -->
      <!-- <a routerLink="/app/tnc" i18n>Privacy Policy</a> -->
      <!-- &nbsp;&nbsp; | &nbsp;&nbsp;
      <a routerLink="/app/info/faq" i18n>Help </a>
       &
      <a routerLink="/public/contact" i18n> Contact</a>-->
    </ng-container>
  </div>
</div>
