
.request-dialog {
    .completedicon {
        color: #1d8923;
        width: 24px!important;
        height: 24px!important;
        vertical-align: sub;
        font-size: 24px!important;
        margin-right: 4px;
    }


    button {
        min-width: 112px;
        width: auto;
        border: 1px solid #0075b7;
        border-radius: 4px;
        color: #0075b7 !important;
        float: right;
    }
}


