<div class="request-dialog">
    <p class="title margin-remove-bottom ws-mat-black-text">
        <mat-icon class="completedicon mat-icon notranslate material-icons mat-icon-no-color"  aria-hidden="true">check_circle</mat-icon> {{headerMessage}}
    </p>
    <p class="margin-top-s padding-s mat-body-2 ws-mat-black60-text">
        {{body}}
    </p>
    <button mat-stroked-button type="submit" class="flex-auto-display mat-button mat-button-base mat-default ng-star-inserted"
        (click)="closeDialog()">Resume registration</button>
</div>
