$text-primary: #1B4CA1;

.passbook-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    margin-top: 32px;
}

.left-container, .right-container {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.left-container {
    max-width: 384px;
}

@media screen and (max-width: 992px) {
    .passbook-container {
        flex-direction: column;
    }

    .right-container {
        padding: 16px;
        flex-direction: column;
    }
}

.competency-passbook-theme {
    width: 100%;
    max-width: 384px;
    // max-height: 208px;
    border-radius: 12px;
    background-color: rgb(248, 184, 97);
    position: relative;

    .detail {
        width: inherit;
        height: inherit; 
        max-width: 384px;
        min-height: inherit;
        background-color: rgb(255, 255, 255);
        top: 10px;
        border-radius: 12px;
        position: absolute;

        .chip {
            border: 1px solid $text-primary;
            color: $text-primary;
        }
    }
}


.competency-passbook-category {
    width: 100%;
    max-width: 352px;
    background-color: rgb(23, 64, 135);
    border-radius: 12px;
    color: $text-primary;
    padding: 16px;

    .separator {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.08);
        margin: 16px 0;
    }
}
