<div class="passbook-container gap-5">
    <div class="flex left-container">

    </div>
    <div class="flex right-container">
        
        <div class="competency-passbook-theme margin-top-m">
            <div class="detail flex flex-col">
                <div class="flex flex-col gap-5">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <div class="text-2xl ">Self-Awareness</div>
                            <div class="text-base">12</div>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-3">
                        <div class="chip rounded-full p-3 text-xs">
                            Self-Awareness
                        </div>
                        <div class="chip rounded-full p-3 text-xs">
                            Design
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="competency-passbook-category margin-top-m">
            <div class="flex flex-row">
                <div class="flex flex-col">
                    <div class="text-sm">Domain</div>
                    <div class="text-xl font-semibold">93</div>
                </div>
                <div>
                    <img src="" />
                </div>
            </div>
            <div class="separator"></div>
            <div class="flex flex-row justify-between ">
                <div class="flex flex-col">
                    <div class="text-xs">Competency Sub Theme</div>
                    <div class="text-base font-semibold">93</div>
                </div>
                <div class="flex flex-col">
                    <div class="text-xs">Content Consumed</div>
                    <div class="text-base font-semibold">93</div>
                </div>
            </div>
        </div>
    </div>
</div>
