.home-container {
    max-width: 1200px
}

.fix-ww {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    clear: both;
}

.left {
    width: 32%;
    // float: left;
    // min-height: 200px;
}

.right {
    width: 68%;
    // float: right;
    // min-height: 200px;
}

// .flex-align {
//     display: flex;
// }

// .bg-info {
//     width: 40%;
// }

// .bg-primary {
//     width: 60%;
// }

