<div class="home-container m-auto flex flex-row gap-4">
    <div class="left bg-info">
        <ws-in-sight-side-bar></ws-in-sight-side-bar>
    </div>
    <div class="right bg-primary">
        <div class="flex flex-col gap-4">
            <ws-feed-list></ws-feed-list>
            <ws-feed-list></ws-feed-list>

            <!-- Discussion section starts here -->
            <div class="flex flex-row gap-2 mat-subheading-1 items-center">
                <div>Go to discuss hub</div>
                <mat-icon>
                    chevron_right
                </mat-icon>
            </div>
            <div class="flex flex-row gap-6">
                <div class="discussion-card flex-1">
                    <div class="flex flex-col p-5 gap-4">
                        <div class="flex flex-row gap-3 items-center mat-subheading-1">
                            <div class="flex flex-grow">Updates on your posts</div>
                            <div class="text-2xl text-blue-500">
                                <mat-icon class="cursor-pointer font-bold">add</mat-icon>
                            </div>
                        </div>
                        <div class="flex flex-col discussion-card gap-3 p-5">
                            <ws-skeleton-loader  [bindingClass]="'h-[40px] rounded-full flex'" ></ws-skeleton-loader>
                            <div class="skeleton-box flex flex-grow"></div>
                            <div class="skeleton-box flex flex-grow"></div>
                        </div>
                        <div class="flex flex-col discussion-card gap-2 p-5">
                            <div class="text-blue-500 font-semibold">2 Upvote on your port</div>
                            <div class="">What are some merits and demerits of the Dicey’s Rule of law?</div>
                        </div>
                        <div class="flex flex-col discussion-card gap-2 p-5">
                            <div class="text-blue-500 font-semibold">Alex replied to your post</div>
                            <div class="">I think the solution to such a problem would be to extensively.</div>
                        </div>
                        <div class="flex flex-col discussion-card gap-2 p-5">
                            <div class="text-blue-500 font-semibold">1 Downvote on your post</div>
                            <div class="">What are some merits and demerits of the Dicey’s Rule of law?</div>
                        </div>
                        <div class="flex flex-row gap-2 p-4 text-blue-500 justify-center">
                            <div class="font-semibold">Show all</div>
                            <mat-icon>
                                chevron_right
                            </mat-icon>
                        </div>
                    </div>
                </div>

                <div class="discussion-card flex-1">
                    <div class="flex-1">
                        <div class="flex flex-col p-5 gap-4">
                            <div class="flex flex-row gap-3 mat-subheading-1">
                                <div class="flex flex-grow">Trending discussions</div>
                            </div>
                            <div class="discussion-card p-1">
                                <ws-discussion-info></ws-discussion-info>
                            </div>
                            <div class="discussion-card p-1">
                                <ws-discussion-info class="border border-black-500"></ws-discussion-info>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row gap-2 p-4 text-blue-500 justify-center">
                        <div class="font-semibold">Show all</div>
                        <mat-icon>
                            chevron_right
                        </mat-icon>
                    </div>
                </div>
            </div>


            <!-- Discussion section ends here -->
        </div>
    </div>
</div>
<div class="flex flex-col gap-4">
    <ws-widget-discuss-strip-multiple [widgetData]="discussStripData"></ws-widget-discuss-strip-multiple>
    <ws-widget-network-strip-multiple [widgetData]="networkStripData"></ws-widget-network-strip-multiple>
    <ws-widget-sliders [widgetData]="sliderData"></ws-widget-sliders>
</div>
<ws-widget-sliders [widgetData]="sliderData"></ws-widget-sliders>
<div class="fix-ww">
    <div class="d-inline-flex p-3 bg-secondary flex-align">
        <div class="p-2 bg-info"><ws-in-sight-side-bar></ws-in-sight-side-bar></div>
        <div class="p-2 bg-primary">
            <ws-feed-list></ws-feed-list>
        </div>
    </div>
</div>