#zohoSupportWebToCase textarea,
#zohoSupportWebToCase input[type='text'],
#zohoSupportWebToCase select,
.wb_common {
    width: 280px;
}

#zohoSupportWebToCase td {
    padding: 11px 5px;
}

#zohoSupportWebToCase textarea,
#zohoSupportWebToCase input[type='text'],
#zohoSupportWebToCase select {
    border: 1px solid #ddd;
    padding: 3px 5px;
    border-radius: 3px;
}

#zohoSupportWebToCase select {
    box-sizing: unset
}

#zohoSupportWebToCase .wb_selectDate {
    width: auto
}

#zohoSupportWebToCase input.wb_cusInput {
    width: 108px
}

.wb_FtCon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    padding-left: 10px
}

.wb_logoCon {
    display: flex;
    margin-left: 5px
}

.wb_logo {
    max-width: 16px;
    max-height: 16px;
}

#zohoSupportWebToCase .wb_multi_pick {
    border: 1px solid #ddd;
    padding: 3px 5px;
    border-radius: 3px;
    width: 280px;
    height: 95px;
    overflow-y: auto;
}

#zohoSupportWebToCase .wb_multi_pick_label {
    display: block;
}

#zohoSupportWebToCase .wb_multi_pick_input,
.wb_multi_pick_input_all {
    vertical-align: middle;
    margin-right: 5px;
}

.zsFormClass {
    background-color: #ffffff;
    width: 70%;
}

.zsFontClass {
    color: #080808;
    font-family: Arial;
    font-size: 13px
}

.manfieldbdr {
    border-left: 1px solid #ff6448 !important
}

.hleft {
    text-align: left;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.wtcsepcode {
    margin: 0px 15px;
    color: #aaa;
    float: left;
}

.wtccloudattach {
    float: left;
    color: #00a3fe !important;
    cursor: pointer;
    text-decoration: none !important;
}

.wtccloudattach:hover {
    text-decoration: none !important;
}

.wtcuploadinput {
    cursor: pointer;
    float: left;
    width: 62px;
    margin-top: -20px;
    opacity: 0;
    clear: both;
}

.wtcuploadfile {
    float: left;
    color: #00a3fe;
}

.filenamecls {
    margin-right: 15px;
    float: left;
    margin-top: 5px;
}

.clboth {
    clear: both;
}

#zsFileBrowseAttachments {
    clear: both;
    margin: 5px 0px 10px;
}

.zsFontClass {
    vertical-align: top;
}

#tooltip-zc {
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
    position: absolute;
    padding: 8px;
    margin: 20px 0 0;
    background: #fff;
    border: 1px solid #528dd1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #eee;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    color: #777
}

.wtcmanfield {
    color: #f00;
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 1px;
}

#zsCloudAttachmentIframe {
    width: 100%;
    height: 100%;
    z-index: 99999 !important;
    position: fixed;
    left: 0px;
    top: 0px;
    border-style: none;
    display: none;
    background-color: #fff;
}

.wtchelpinfo {
    background-position: -246px -485px;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 2px;
    background-image: url(https://img.zohostatic.in/support/app/images/zs-mpro.b6c9cf2347c62390fdcb.png);
}

.zsMaxSizeMessage {
    font-size: 13px;
}
