<div class="mt-5">
    <div class="flex gap-6 network-requests">
        <div class="discussion-card flex-1" *ngIf="networkConfig?.recentRequests?.active">
            <ws-widget-recent-requests [recentRequests]="recentRequests" (updateRequest)="handleUpdateRequest($event)" ></ws-widget-recent-requests>
        </div>

        <div class="discussion-card flex-1 network-suggestion" *ngIf="networkConfig?.networkSuggestions?.active">
            <div class="flex flex-col gap-4 h-full">
                <div *ngIf="network.suggestionsLoader">
                    <ws-widget-skeleton-loader [width]="'164px'" [height]="'16px'" [bindingClass]="'flex rounded'"></ws-widget-skeleton-loader>
                </div>
                <div class="mat-subheading-1" *ngIf="!network.suggestionsLoader">{{ 'home.suggestedForYou' | translate }}</div>

                <div class="flex flex-col h-full gap-4 justify-center items-center">
                    <div class="flex flex-row gap-4 justify-center">
                        <!-- loader code -->
                        <ng-container *ngIf="network.suggestionsLoader">
                            <div class="card p-4 flex flex-col items-center rounded-xl" *ngFor="let item of [1, 2]">
                                <ws-widget-skeleton-loader [width]="'64px'" [height]="'64px'"
                                    [bindingClass]="'flex rounded-full h-16'"></ws-widget-skeleton-loader>
                                <div class="loader-wrapper">
                                    <ws-widget-skeleton-loader [width]="'120px'" [height]="'120px'"
                                        [bindingClass]="'flex rounded'">
                                    </ws-widget-skeleton-loader>
                                </div>
                                <ws-widget-skeleton-loader [width]="'24px'" [height]="'12px'"
                                    [bindingClass]="'flex rounded-full px-8 py-2'"></ws-widget-skeleton-loader>
                            </div>
                        </ng-container>
                        <!-- loader code -->
    
                        <ng-container *ngIf="!network.suggestionsLoader">
                            <ng-container *ngIf="network.networkRecommended.length">
                                <div *ngFor="let recommend of network.networkRecommended">
                                    <div class="card p-4 rounded-xl netword-card">
                                        <div class="flex justify-center items-center initial-circle bg-blue-700 text-xl m-auto mb-3">{{ recommend?.fullName }}</div>
                                        <div class="flex flex-col gap-1">
                                            <div class="font-semibold text-center mat-body-2 text-name" [title]="recommend?.personalDetails?.firstname" >{{ recommend?.personalDetails?.firstname }}</div>
                                            <div class="text-center dept-name text-desc" [title]="recommend?.employmentDetails?.departmentName" >{{ recommend?.employmentDetails?.departmentName }}</div>
                                            <div
                                                class="flex flex-row gap-2 ws-mat-default-text font-semibold px-4 py-2 rounded-full mat-body-2 connect-button cursor-pointer text-lg mt-2 items-center" (click)="handleConnect(recommend)" *ngIf="!recommend.connecting">
                                                <mat-icon class="ws-mat-default-text">person_add</mat-icon>
                                                <span class="textwrap">{{ 'home.connect' | translate }}</span>
                                            </div>
                                            <div class="flex flex-row gap-2 ws-mat-default-text font-semibold px-8 py-2 rounded-full connect-button cursor-pointer text-lg mt-2 mat-body-2" *ngIf="recommend.connecting">
                                                <span class="textwrap">{{ 'home.connecting' | translate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
    
                            <ng-container *ngIf="!network.networkRecommended || !network.networkRecommended.length">
                                <div class="p-4 flex flex-col items-center rounded-xl gap-3">
                                    <mat-icon class="no-data-found">report_off</mat-icon>
                                    <div class="mat-subheading-1">{{ 'home.noDataFound' | translate }}</div>
                                    <div class="text-center">{{ 'home.newRecommendation' | translate }}</div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div class="flex flex-row gap-2 ws-mat-default-text ws-widget-sliders justify-center"
                        *ngIf="network.networkRecommended && network.networkRecommended.length">
                        <div class="flex justify-center items-center">
                            <div class="flex ws-mat-default-text items-center justify-center mat-body-1 cursor-pointer"
                                [routerLink]="['/app/network-v2/home']" [queryParams]="{page: 'people_you_may_know'}" (click)="handleShowAll()">
                                <div *ngIf="!suggestionsLoader">{{ 'home.showAll' | translate }}</div>
                                <div *ngIf="suggestionsLoader">
                                    <ws-widget-skeleton-loader [width]="'164px'" [height]="'16px'"
                                        [bindingClass]="'flex rounded'"></ws-widget-skeleton-loader>    
                                </div>
                                <mat-icon>
                                    chevron_right
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>