@import 'ws-common';
@import 'ws-vars';
@import 'ws-mixins';


.other-portal-box {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.card-text-box {
    vertical-align: middle;
    width: 80%;
    margin: auto;
}
.portal-box {
    padding:80px 0;
    text-align: center;
}
.discuss_icon {
    height: 48px;
    width: 48px;
    margin-bottom: 8px;
}
.start-discuss {
    margin-top: 16px;
    background-color: #1B4CA1;
    color: #fff;
    text-align: center;
    width: 150px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 25px;
}