.client-box {
    width: 100%;
}

.customer-logos {
    padding:20px 40px;
    overflow: hidden;
    background-color: #fff;
}

.client-img {
    height: 48px;
    margin-bottom: 8px;
}

.client-link {
    text-decoration: none;
    padding: 0px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.87)!important;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.slider-item {
    animation: animate 40s linear infinite;
}
.clients-bg-info  {
    width: 32%;
}
.clients-bg-primary{
    width: 68%;
 }

.clients-container {
    max-width: 1260px;
    margin-top: 60px;
}
.view-more {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    justify-content: center;
}
.view-more:hover {
    background-color: #DCDFE5;
  }
@keyframes animate {
	0% {transform: translateX(0);}
  100% {transform: translatex(-3500px)}
}