<div class="client-box" *ngIf="clients && clients.length; else noClientBox">
    <h2 class="text-center margin-bottom-l">{{ 'home.topProviderSliders' | translate }}</h2>
     <div class="customer-logos flex flex-1 flex-row slider" >
        <div class="flex slider-item" *ngFor="let item of clients">
            <a href="{{ item.clientUrl }}" target="_blank" class="client-link flex flex-col items-center justify-center">
                <img src="{{ item.clientImageUrl }}" class="client-img flex">
                <p class="mat-body-2 flex">{{ item.clientName }}</p>
            </a>
        </div>
        
     </div>
</div>
<ng-template #noClientBox>

<div class="client-box" *ngIf="noClients" >
    <h2 class="text-center margin-bottom-l flex items-center justify-center">
        <ws-widget-skeleton-loader [width]="'390px'" [height]="'16px'" [bindingClass]="'flex rounded margin-bottom-xs text-center'"></ws-widget-skeleton-loader>
    </h2>
     <div class="customer-logos flex flex-1 flex-row slider" >
        <div class="flex slider-item" *ngFor="let value of noClients">
            <a target="_blank" class="client-link flex flex-col items-center justify-center">
                <ws-widget-skeleton-loader [width]="'75px'" [height]="'75px'" [bindingClass]="'flex rounded margin-bottom-xs'"></ws-widget-skeleton-loader>
                
            </a>
        </div>
        
     </div>
</div>
</ng-template>
