<div class="hidden md:block">
    <div class="clients-container m-auto flex flex-row">
        <div class="clients-bg-info left"></div>
        <div class="clients-bg-primary">
            <div class="flex flex-1 items-center pl-5">
                <p class="mat-subheading-1 margin-remove inline-block">
                    {{ 'home.topProviderSliders' | translate }}
                </p>
                <span class="spacer"></span>
                <div class="ml-4 pl-2 view-more ws-mat-default-text">
                    <a class="flex ws-mat-default-text items-center justify-center mat-body-1" [routerLink]="'/app/learn/browse-by/provider/all-providers'">
                    <span class="ws-mat-default-text">{{ 'home.showAll' | translate }}</span>
                    <mat-icon class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" color="accent">navigate_next</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="client-box" *ngIf="clients && clients.length; else noClientBox">

    <div class="margin-bottom-l margin-top-l">
        <div class="block md:hidden">
            <div class="flex items-center pl-5 pr-5 justify-center">
                <p class="mat-subheading-1 margin-remove inline-block">
                    {{ 'home.topProviderSliders' | translate }}
                </p>
            </div>
            <div class="flex items-center pl-5 pr-5 justify-center">
                <div class="ml-4 view-more ws-mat-default-text">
                    <a class="flex ws-mat-default-text items-center justify-center mat-body-1" [routerLink]="'/app/learn/browse-by/provider/all-providers'">
                    <span class="ws-mat-default-text">{{ 'home.showAll' | translate }}</span>
                    <mat-icon class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color" color="accent">navigate_next</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
     <div class="customer-logos flex flex-1 flex-row slider" >
        <div class="flex slider-item" *ngFor="let item of clients">
            <a href="/app/learn/browse-by/provider/{{ item.clientName}}/{{item.orgId}}/micro-sites" target="_blank" class="client-link flex flex-col items-center justify-center">
                <img src="{{ item.clientImageUrl }}" class="client-img flex" alt="{{ item.clientName }}">
                <p class="mat-body-2 flex">{{ item.clientName }}</p>
            </a>
        </div>
        
     </div>
</div>
<ng-template #noClientBox>

<div class="client-box" *ngIf="noClients" >
    <h2 class="text-center margin-bottom-l flex items-center justify-center">
        <ws-widget-skeleton-loader [width]="'390px'" [height]="'16px'" [bindingClass]="'flex rounded margin-bottom-xs text-center'"></ws-widget-skeleton-loader>
    </h2>
     <div class="customer-logos flex flex-1 flex-row slider" >
        <div class="flex slider-item" *ngFor="let value of noClients">
            <a target="_blank" class="client-link flex flex-col items-center justify-center">
                <ws-widget-skeleton-loader [width]="'75px'" [height]="'75px'" [bindingClass]="'flex rounded margin-bottom-xs'"></ws-widget-skeleton-loader>
                
            </a>
        </div>
        
     </div>
</div>
</ng-template>
