<ng-template #competencyCard>
    <div class="flex flex-wrap gap-6 mobile-gap">
        <div class="flex flex-col" *ngFor="let i of [1, 2, 3]">
            <div class="competency-passbook-theme"></div>
            <div class="detail flex flex-col">
                <div class="flex flex-col">
                    <div class="flex flex-row justify-between px-6 py-4 cursor-pointer"
                        [routerLink]="['/page/competency-passbook/details']">
                        <div class="flex flex-col gap-3 text-primary">
                            <div class="flex flex-row gap-3 items-center">
                                <div class="text-xl font-semibold">Self-Awareness</div>
                                <img src="assets/icons/competency/cp-arrow.svg" alt="cp arrow img" />
                            </div>
                            <div class="flex flex-row gap-3">
                                <mat-icon>school</mat-icon>
                                <div class="text-base">12</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-3 px-6 py-4 chip-container">
                        <div class="chip rounded-full p-2 text-xs">
                            Self-Awareness
                        </div>
                        <div class="chip rounded-full p-2 text-xs">
                            Design
                        </div>
                        <div class="chip rounded-full p-2 text-xs">
                            Software design
                        </div>
                        <div class="chip rounded-full p-2 text-xs">
                            Relationship management
                        </div>
                        <div class="flex items-center text-primary underline cursor-pointer text-xs">
                            View more
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<div class="passbook-container gap-5">
    <div class="left-container">
        <div class="flex flex-col gap-4 cp-container">
            <div class="flex flex-row gap-3">
                <div class="flex-1 text-xl font-semibold">Competency passbook</div>
                <div class="flex items-center">
                    <mat-icon class="cursor-pointer" [matMenuTriggerFor]="filter">filter_list</mat-icon>
                    <mat-menu #filter="matMenu" xPosition="before">
                        <button mat-menu-item class="px-3">
                            <span>Last 3 months</span>
                        </button>
                        <button mat-menu-item class="px-3">
                            <span>Last 6 months</span>
                        </button>
                        <button mat-menu-item class="px-3">
                            <span>Last year</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
    
            <div class="flex flex-row gap-3 p-4">
                <div class="flex-1">
                    <div class="flex flex-col gap-2">
                        <div class="text-base">My competencies</div>
                        <div class="text-4xl font-semibold">365</div>
                    </div>
                </div>
                <div class="flex justify-center items-end">
                    <mat-icon class="info-icon">info</mat-icon>
                </div>
            </div>

            <div class="mobile-competency-card">
                <div class="flex flex-row justify-between ">
                    <div class="flex flex-col items-center kpi-card">
                        <div class="text-base font-semibold">86</div>
                        <div class="flex justify-center items-center">
                            <div class="text-xs">Behavioral</div>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col items-center kpi-card">
                        <div class="text-base font-semibold">86</div>
                        <div class="flex">
                            <div class="text-xs">Functional</div>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                    </div>
                    <div class="flex flex-col items-center kpi-card">
                        <div class="text-base font-semibold">86</div>
                        <div class="flex">
                            <div class="text-xs">Domain</div>
                            <mat-icon>navigate_next</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="competency-passbook-category" *ngFor="let i of [1, 2, 3]">
                <div class="p-4">
                    <div class="flex flex-row">
                        <div class="flex flex-col">
                            <div class="text-sm">Domain</div>
                            <div class="text-xl font-semibold">93</div>
                        </div>
                        <div>
                            <img src="" />
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="flex flex-row justify-between ">
                        <div class="flex flex-col">
                            <div class="text-xs">Competency Sub Theme</div>
                            <div class="text-base font-semibold">93</div>
                        </div>
                        <div class="flex flex-col">
                            <div class="text-xs">Content Consumed</div>
                            <div class="text-base font-semibold">93</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="right-container">
        <mat-tab-group>
            <mat-tab label="All">
                <div class="flex flex-col">
                    <div class="py-4">
                        <ws-competency-search></ws-competency-search>
                    </div>
                    <ng-container [ngTemplateOutlet]="competencyCard"></ng-container>
                </div>
            </mat-tab>
            <mat-tab label="Behavioral">
                <div class="flex flex-col">
                    <div class="py-4">
                        <ws-competency-search></ws-competency-search>
                    </div>
                    <ng-container [ngTemplateOutlet]="competencyCard"></ng-container>
                </div>
            </mat-tab>
            <mat-tab label="Functional">
                <div class="flex flex-col">
                    <div class="py-4">
                        <ws-competency-search></ws-competency-search>
                    </div>
                    <ng-container [ngTemplateOutlet]="competencyCard"></ng-container>
                </div>
            </mat-tab>
            <mat-tab label="Domain">
                <div class="flex flex-col">
                    <div class="py-4">
                        <ws-competency-search></ws-competency-search>
                    </div>
                    <ng-container [ngTemplateOutlet]="competencyCard"></ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="mobile-right-container">
        <div class="flex flex-col gap-6 px-4">
            <div class="text-base font-bold">Recently associated competencies</div>
            <ng-container [ngTemplateOutlet]="competencyCard"></ng-container>
        </div>
    </div>
</div>