<div class="flex flex-col gap-4 mt-8 mb-8 my-cbp">
    <div class="flex flex-middle flex-between position-relative ">
        <p class="title">My iGOT</p>
        <!-- <mat-icon mat-icon-button [matMenuTriggerFor]="menu"   class="ws-mat-default-text mat-icon notranslate material-icons mat-icon-no-color cursor-pointer">filter_list</mat-icon>
        <ng-container *ngIf="filterLoaded">
            <span  class="filter-dot"></span>
        </ng-container> -->
    </div>
    <hr class="divider">
    <div class="flex flex-middle flex-between">
        <div>
            <p class="group-title">All</p>
            <ws-widget-skeleton-loader *ngIf="cbpLoader" [width]="'28px'" [height]="'20px'" [bindingClass]="'flex rounded h-16 margin-right-xs'"></ws-widget-skeleton-loader>
            <p class="group-count" *ngIf="!cbpLoader">{{cbpCount?.all || 0}}</p>
        </div>
        <div>
            <p class="group-title">Upcoming</p>
            <ws-widget-skeleton-loader *ngIf="cbpLoader" [width]="'28px'" [height]="'20px'" [bindingClass]="'flex rounded h-16 margin-right-xs'"></ws-widget-skeleton-loader>
            <p class="group-count" *ngIf="!cbpLoader">{{cbpCount?.upcoming || 0}}</p>
        </div>
        <div>
            <p class="group-title">Overdue</p>
            <ws-widget-skeleton-loader *ngIf="cbpLoader" [width]="'28px'" [height]="'20px'" [bindingClass]="'flex rounded h-16 margin-right-xs'"></ws-widget-skeleton-loader>
            <p class="group-count" *ngIf="!cbpLoader">{{cbpCount?.overdue || 0}}</p>
        </div>
    </div>
 </div>
  <mat-menu #menu="matMenu" class="filter-menu"> 
    <!-- give local reference and tell this is manu by assigning 'matMenu' -->
    <div class="p-4">
        <ng-container *ngFor="let data of filterList">
            <button class="padding-remove" mat-menu-item (click)="onfilterChange(data)">
                {{data.value}}
            </button>
        </ng-container>
    </div>
   
  </mat-menu>