
.my-cbp {
    opacity: 1;
    background: white;
    padding: 24px 16px;
    border-radius: 12px;
    .title {
        margin-bottom: 0;
        opacity: 1;
        color: rgba(0,0,0,0.87);
        font: 600 16px/24px Montserrat-SemiBold, sans-serif;
        font-style: normal;
        letter-spacing: 0.12px;
        text-align: left;
    }
    .divider {
        width: 100%;
        border: 1px solid rgba(0,0,0, 0.08);
    }
    .group-title {
        opacity: 1;
        color: rgba(0,0,0,0.6);
        font: 400 12px/16px Lato-Regular, sans-serif;
        font-style: normal;
        letter-spacing: 0.25px;
        text-align: left;
    }
    .group-count {
        opacity: 1;
        color: rgba(27,76,161,1);
        font: 700 14px/20px Lato-Bold, sans-serif;
        font-style: normal;
        text-align: left;
        margin-bottom: 0;
    }
}

::ng-deep .mat-menu-panel.filter-menu {
    border-radius: 12px;
    .mat-menu-content {
        padding: 0;
    }
}
.filter-dot {
    background-color: #d13924;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 0px;
}