<div class="flex flex-col gap-8 mobile-container">
    <div class="flex flex-col gap-5">
        <div class="flex flex-row items-center">
            <div class="flex-1">
                <div class="flex flex-col gap-2 justify-center">
                    <div class="text-2xl font-semibold header text-primary">{{ params.theme }}</div>
                    <div class="text-sm">Issued on May 2023</div>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <img src="assets/icons/competency/{{params.name}}.png" alt="{{ params.name }} image" />
            </div>
        </div>

        <div class="chips-container">
            <div class="flex flex-col gap-3">
                <div class="text-base font-semibold">Competency sub-theme (32)</div>
                <div class="flex flex-wrap gap-3">
                    <div class="chip rounded-full p-2 text-xs">
                        Self-Awareness
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Design
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Software design
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Relationship management
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Management
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Software design
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Relationship management
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Management
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Self-Awareness
                    </div>
                    <div class="flex items-center text-primary underline cursor-pointer text-xs">
                        View more
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-5">
        <div class="text-base font-semibold">Associated Certificates ({{ stateData?.certificate?.length }})</div>

        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col certificate-container" *ngFor="let eachCert of stateData?.certificate">
                <div class="certificate-card">
                    <div class="flex flex-col certificate-info p-4 gap-3">
                        <div class="flex flex-row">
                            <div class="flex-1">
                                <div class="text-base font-semibold">{{ eachCert?.courseName }}</div>
                                <div class="text-xs font-light">Issued on July 2023</div>
                            </div>
                            <div class="flex justify-center">
                                <mat-icon class="icon cursor-pointer">arrow_downward</mat-icon>
                            </div>
                        </div>
                        <div class="flex justify-center p-3">
                            <div class="flex justify-center items-center img-div">
                                <img src="{{ eachCert.printURI }}" alt="{{ eachCert?.courseName }} certificate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chips-card flex flex-wrap gap-3">
                    <div class="chip rounded-full p-2 text-xs">
                        Self-Awareness
                    </div>
                    <div class="chip rounded-full p-2 text-xs">
                        Self-Awareness
                    </div>
                    <div class="flex items-center text-primary underline cursor-pointer text-xs">
                        View more
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
