$text-primary: #1B4CA1;

.text-primary {
    color: $text-primary;
}

.chips-container {
    background: #FFF;
    border: 1px solid rgba($color: #000000, $alpha: 0.08);
    padding: 16px;
    border-radius: 12px;

    .chip {
        border: 1px solid $text-primary;
        color: $text-primary;
    }
}

.certificate-card {
    width: 100%;
    max-width: 380px;
    height: 320px;
    border-radius: 12px;
    border: 1px solid rgba($color: #000000, $alpha: 0.08);
    background: #FFF;
}

@media screen and (max-width: 768px) {
    .mobile-container {
        padding: 16px;

        .header {
            font-size: 20px;
        }
    }
}