<!-- <script type="text/javascript" nonce="{place_your_nonce_value_here}" src="https://desk.zoho.in/portal/api/web/inapp/120349000000222059?orgId=60023043070" defer></script> -->
<!-- <script src=""></script> -->


<div class="box w-full height-on-top">
    <ws-widget-btn-page-back [widgetData]="{ url: 'home',titles:[{title:'Contact Us',url:'none'}] }" >
    </ws-widget-btn-page-back>
</div>

<div class="container-balanced">
    <div class="flex flex-1 custom faq_main_box">
        <div class="flex-3">
            <mat-card class="padding-xl">
                <!-- <h2 class="flex mat-display-1 main_title_text margin-bottom-xl">Contact Us</h2> -->
                <h1>For any technical issues please contact,</h1>
                <p class="mat-body-1">Email: <a (click)="preventData($event)" class="mail_link"><b>mission[dot]karmayogi[at]gov[dot]in</b></a></p>
                <p>Helpdesk: <a href="https://servicedesk.nic.in/" target="_blank"><b>servicedesk.nic.in</b></a></p>
                <p class="mat-body-1 margin-bottom-m">Call: <mat-icon class="custom-phone">phone</mat-icon><b> 1800 111 555</b></p>
                <!-- <p class="mat-body-1 margin-top-xl margin-bottom-m">To know more click <a href="{{karmayogiBharatLink}}" target="_blank">here.</a></p> -->
                <div class="confrence-box">
                    <h1>We are now available on Video Conference</h1>
                    <p class="text-danger margin-no-bottom"><b>For any Support Required</b></p>
                    <p><b>Monday to Friday</b></p>
                    <p><b>9:00 AM to 5:00 PM</b> </p>
                    <!-- <p *ngIf="meetLink.length > 0">{{meetingDetail}} -->
                    

                        <a *ngIf="meetLink.length > 0" href="{{meetLink}}" target="_blank" class="meet_link">
                            Join Now
                            <!-- <img src="/assets/instances/eagle/landing-img/meet-link.jpg" /> -->
                        </a>
                    <!-- </p> -->
                </div>
            </mat-card>
            
        </div>
    </div>
</div>

